[2020-08-03 03:02] atomicbitty opened #18 "This is not exactly dynamically typed."
You are saying that the language is dynamically typed, it's not. That's because you cannot change the type of a variable during runtime, I guess it wouldn't work. In fact, this language has type deduction, but It's still statically typed.

[2020-08-03 10:58] frankhart2018 commented on #18
We are working on making this purely dynamic typed, thanks for your input.

[2020-08-03 10:58] #18 closed

[2020-09-02 16:13] frankhart2018 opened #24 "[BUG REPORT] Scope of variable"
**Describe the bug**
Fails to take scope into account. Final value dicates the initial data type of the var even if they are contradictory in nature.

**To Reproduce**
<ins>simC code</ins>:-
[code]

<ins>C Code</ins>:-
[code]

**Expected behavior**
<ins>C Code</ins>:-
[code]

[2020-09-02 16:21] frankhart2018 opened #25 "[BUG REPORT] Cannot infer type of parameter in function"
**Describe the bug**
Cannot infer type of parameter inside function body. The type inference here should be done after calling but is being done in the definition itself.

**To Reproduce**
<ins>simC code</ins>:-
[code]

<ins>C Code</ins>:-
Not generated, throws error.

**Expected behavior**
<ins>C Code</ins>:-
[code]

[2020-09-02 16:23] frankhart2018 opened #26 "[BUG REPORT] No parantheses check"
**Describe the bug**
No check for parenthesis pairs and missing parenthesis towards the end

**To Reproduce**
<ins>simC code</ins>:-
[code]

<ins>C Code</ins>:-
[code]

**Expected behavior**
<ins>C Code</ins>:-
[code]

[2020-09-02 16:30] frankhart2018 opened #27 "[BUG REPORT] Does not allow single line block statements without { }"
**Describe the bug**
Error when braces not included after if or any other block statement, when it should take only the immediate line into account.

**To Reproduce**
<ins>simC code</ins>:-
[code]

<ins>C Code</ins>:-
Not generated, throws error.

**Expected behavior**
<ins>C Code</ins>:-
[code]

[2020-09-02 16:43] frankhart2018 opened #28 "[FEATURE] Allow C code to be written inside simC"
**Is your feature request related to a problem? Please describe.**
Allowing user to write C code inside simC, this will be just copied and pasted into compiled C code without checking for syntax or compiling.

**Describe the solution you'd like**
Add two tokens BEGIN_C and END_C between which C code will be written, this should be directly pasted into appropriate location in compiled C code by sim

[2020-09-02 16:51] frankhart2018 opened #29 "[FEATURE] Implement sizeof"
**Is your feature request related to a problem? Please describe.**
Implement sizeof operator to return the size of a variable.

**Describe the solution you'd like**
Whenever sizeof is called the type of the variable should be extracted from symbol table and based on this type return the size. Files to be changes for adding this are lexical_analyzer, parser, and compiler.

<b>Note</b>:- The size sh

[2020-09-02 16:56] frankhart2018 opened #30 "[FEATURE] Explicit typecasting"
**Is your feature request related to a problem? Please describe.**
Explicit casting of types from by the user.

**Describe the solution you'd like**
Syntax will be similar to that of python (e.g. int(3.14159)). After successful type casting the type for the corresponding value should be updated in symbol table.

**simC Code Example**
[code]

[2020-09-02 17:04] frankhart2018 opened #31 "[FEATURE] Implement typeof"
**Is your feature request related to a problem? Please describe.**
Implement typeof operator in simC.

**Describe the solution you'd like**
Simply return the type of variable from symbol table. When typeof is called on a variable.

**simC Code**
[code]

[2020-09-02 17:06] frankhart2018 opened #32 "[FEATURE] Bitwise operators"
**Is your feature request related to a problem? Please describe.**
Add support for bitwise operators in simC.

**Describe the solution you'd like**
Check implementation of other operators.

<strong>Note:</strong> Discuss the bitwise operators and their syntax with a maintainer before implementing.

[2020-09-02 17:07] frankhart2018 opened #33 "[FEATURE] Dynamic memory allocation"
**Is your feature request related to a problem? Please describe.**
Dynamic memory allocation in simC.

<strong>Note:</strong> Discuss syntax with a maintainer before implementing.

[2020-09-02 17:10] frankhart2018 opened #34 "[FEATURE] Default parameters in functions"
**Is your feature request related to a problem? Please describe.**
Add support for default parameters in functions in simC.

**Describe the solution you'd like**
Syntax will be similar to that of C.

**simC Code Example**
[code]

[2020-09-06 14:30] frankhart2018 opened #35 "[FEATURE] Add README in different languages."
REAMDE goes inside **readme-lang** folder. The naming convention used is **README-(language name).md** where (language name) is the name of language in which README is being translated.

Note: Discuss with a maintainer in this thread before starting to translate the README.

[2020-09-08 23:02] andrefpoliveira commented on #35
Hey :) I would like to work on this and translate the README.md to Portuguese. Where do you want me to store the translated version?

[2020-09-09 03:54] frankhart2018 commented on #35
Hey @andrefpoliveira thanks for reaching out. You can put your readme in the readme-lang folder. Make sure to name the readme file in the following format:- README-<language name>.md where <language name> is the name of the language you are translating into.

[2020-09-09 07:36] codeSalazar12 commented on #31
Hey can i help?

[2020-09-09 08:23] dhairyaj commented on #31
Sure, why not!
Thank you :)

[2020-09-21 11:06] UtkarshChaurasia commented on #35
I would like to translate README.md to Hindi.

[2020-09-21 11:28] frankhart2018 commented on #35
Sure go ahead @UtkarshChaurasia. Please convert the README in readme-lang (readme-lang/README-eng.md) into hindi. Thanks.

[2020-09-22 09:51] reveurguy commented on #35
i would like to covert README to French.

[2020-09-22 10:27] frankhart2018 commented on #35
Hey @reveurguy sure. Thanks for showing interest to contribute. Please check the README file in readme-lang (readme-lang/README-eng.md).

[2020-09-25 19:57] frankhart2018 opened #41 "Write simC code for question 1[FEATURE]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-09-25 19:57] frankhart2018 opened #42 "Write simC code for question 2[FEATURE]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-09-25 19:58] #42 closed

[2020-09-25 19:58] #41 closed

[2020-09-25 20:00] frankhart2018 opened #43 "[FEATURE] Write simC code for question 1"
**Question**

Define a string variable and print it.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q1.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-25 20:00] frankhart2018 opened #44 "[FEATURE] Write simC code for question 2"
**Question**

Sum of two numbers.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q2.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-25 20:01] frankhart2018 opened #45 "[FEATURE] Write simC code for question 3"
**Question**

Check if number is prime or not.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q3.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-25 20:01] frankhart2018 opened #46 "[FEATURE] Write simC code for question 4"
**Question**

Check even or odd.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q4.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-25 20:01] frankhart2018 opened #47 "[FEATURE] Write simC code for question 5"
**Question**

Check for armstrong number.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q5.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-25 20:01] frankhart2018 opened #48 "[FEATURE] Write simC code for question 6"
**Question**

First 10 fibonacci series.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q6.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-25 20:01] frankhart2018 opened #49 "[FEATURE] Write simC code for question 7"
**Question**

Print left lower triangle.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q7.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-25 20:01] frankhart2018 opened #50 "[FEATURE] Write simC code for question 8"
**Question**

Print right lower triangle.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q8.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-25 20:01] frankhart2018 opened #51 "[FEATURE] Write simC code for question 9"
**Question**

Print left upper triangle.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q9.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-25 20:02] frankhart2018 opened #52 "[FEATURE] Write simC code for question 10"
**Question**

Print right upper triangle.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q10.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-25 20:02] frankhart2018 opened #53 "[FEATURE] Write simC code for question 11"
**Question**

Print diamond shape.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q11.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-25 20:02] frankhart2018 opened #54 "[FEATURE] Write simC code for question 12"
**Question**

Print inverted triangle.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q12.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-25 20:02] frankhart2018 opened #55 "[FEATURE] Write simC code for question 13"
**Question**

Sum of digits of number.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q13.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-25 20:02] frankhart2018 opened #56 "[FEATURE] Write simC code for question 14"
**Question**

Perimeter of a square.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q14.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-25 20:02] frankhart2018 opened #57 "[FEATURE] Write simC code for question 15"
**Question**

Perimeter of a rectangle.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q15.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-25 20:03] frankhart2018 opened #58 "[FEATURE] Write simC code for question 16"
**Question**

Display the sum of even and odd digits of a number.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q16.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-25 20:03] frankhart2018 opened #59 "[FEATURE] Write simC code for question 17"
**Question**

Multiplication of digits of a number.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q17.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-25 20:03] frankhart2018 opened #60 "[FEATURE] Write simC code for question 18"
**Question**

Check if number is palindrome.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q18.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-25 20:03] frankhart2018 opened #61 "[FEATURE] Write simC code for question 19"
**Question**

Convert binary number to decimal number.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q19.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-25 20:03] frankhart2018 opened #62 "[FEATURE] Write simC code for question 20"
**Question**

Convert decimal number to binary number.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q20.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task.

[2020-09-25 20:30] i-am-jeetu commented on #43
Seems interesting. I would like to work on this. Please assign this to me @frankhart2018 .

[2020-09-25 20:37] frankhart2018 commented on #43
Sure @i-am-jeetu. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-26 00:51] ssinghaldev commented on #59
Hey @frankhart2018, I would love to take this!

[2020-09-26 07:24] NEERAJAP2001 commented on #44
@frankhart2018 sir can I work on this ??

[2020-09-26 07:39] dhairyaj commented on #59
Sure @ssinghaldev . This issue would be assigned to you.

[2020-09-26 07:40] dhairyaj commented on #44
@NEERAJAP2001 , you can for sure. I will assign this issue to you. Thanks for contributing.

[2020-09-26 07:42] Xetaphore commented on #35
Hey @frankhart2018 , I would like to translate this in German. Thanks in advance.

[2020-09-26 08:18] dhairyaj commented on #35
@Xetaphore , sure, you can work on the README. Refer to the readme-lang/README-eng.md.

[2020-09-26 09:15] VaderX commented on #45
can u assign this question to me

[2020-09-26 09:22] frankhart2018 commented on #45
Sure @VaderX. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-26 10:01] Subarna578 commented on #62
Assign this work to me.

[2020-09-26 10:01] Subarna578 commented on #61
Please assign this to me.

[2020-09-26 10:01] Subarna578 commented on #60
Assign this work to me.:)

[2020-09-26 11:37] frankhart2018 commented on #60
Sure @Subarna578. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-26 11:37] frankhart2018 commented on #61
Sure @Subarna578. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-26 11:38] frankhart2018 commented on #62
Sure @Subarna578. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-26 11:56] i-am-jeetu commented on #46
Please assign this to me @frankhart2018.

[2020-09-26 12:22] frankhart2018 commented on #46
Sure @i-am-jeetu. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-26 17:29] kunal1197 commented on #47
ill do it

[2020-09-26 17:30] kunal1197 commented on #49
ill do it

[2020-09-26 17:31] kunal1197 commented on #50
ill do it

[2020-09-26 17:32] kunal1197 commented on #52
ill do it

[2020-09-26 17:33] frankhart2018 commented on #47
Sure @kunal1197. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-26 17:34] frankhart2018 commented on #49
Sure @kunal1197. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-26 17:35] frankhart2018 commented on #50
Sure @kunal1197. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-26 17:35] frankhart2018 commented on #52
Sure @kunal1197. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-26 18:13] siddharthaml commented on #56
Hey, can I work in this issue?

[2020-09-26 18:31] frankhart2018 commented on #56
Sure @frankhart2018. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-27 09:38] YJDoc2 commented on #28
What if add BEGIN_C, END_C, and RAW_C in lexical_analyzer.py and after encountering BEGIN_C, keep an internal switch, which if true return all tokens found as type RAW_C, until encountered END_C. Then add RAW_C type tokens without changes to C code in compiler.py.

[2020-09-27 10:26] frankhart2018 commented on #28
Yeah was thinking of something like this. Thanks @YJDoc2 for sharing your thoughts. Do you want to work in this?

[2020-09-27 11:20] VaderX commented on #55
can u assign this question to me?

[2020-09-27 11:20] VaderX commented on #57
can u assign this question to me?

[2020-09-27 11:21] frankhart2018 commented on #55
Sure @VaderX. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-27 11:21] frankhart2018 commented on #57
Sure @VaderX. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-27 11:54] YJDoc2 commented on #28
Sure, I'd like to work on this.

[2020-09-27 11:56] frankhart2018 commented on #28
Ok assigning this to you.

[2020-09-27 12:20] PranshulDobriyal opened #66 "[FEATURE] Report bugs"
Report any bug you encounter while using SimC

**Format of Bug Submission**
The format can be found in the file bugs/format.txt.
Separate files should be made for different bugs. The extension of all the bug-reports should be .txt

[2020-09-27 13:07] YJDoc2 commented on #28
Hey, the test.simc file only contains ':' . trying to run run.sh gives error, and test.sh echos blank output. Is this intentional or error?

[2020-09-27 13:08] frankhart2018 commented on #28
You can ignore them. We were experimenting with some things.

[2020-09-27 14:44] bruhbs commented on #54
Hello. is it possible for me to work on this issue?

[2020-09-27 14:45] bruhbs commented on #58
Hello, Can i work on this issue ?

[2020-09-27 14:47] bruhbs commented on #48
hello, i am interested in working on this, can I?

[2020-09-27 14:48] bruhbs commented on #51
Hello, May I work on this issue ?

[2020-09-27 14:55] PranshulDobriyal commented on #58
Hello bruhbs, We would love to have you contribute in this project

[2020-09-27 14:57] PranshulDobriyal commented on #54
Sure bruhbs, We are extremely grateful for your interest in contributing to this project.

[2020-09-27 14:58] PranshulDobriyal commented on #51
Hello bruhbs, Yes you can work on this issue, We are looking forward to your contribution. Thank you

[2020-09-27 14:59] PranshulDobriyal commented on #48
Hello bruhbs, Yes you can start working on this issue. Looking forward to your contribution to this project. Thank you for your interest.

[2020-09-27 15:05] SanjayJn commented on #53
Hey @frankhart2018 , I would like to work on this. Assign this to me

[2020-09-27 15:34] frankhart2018 commented on #53
Sure @SanjayJn. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-27 16:24] frankhart2018 opened #67 "[FEATURE] Write simC code for question 22"
**Question**

Maximum and minimum digits of a number.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q22.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-27 16:24] frankhart2018 opened #68 "[FEATURE] Write simC code for question 23"
**Question**

Greatest of three numbers.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q23.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-27 16:24] frankhart2018 opened #69 "[FEATURE] Write simC code for question 24"
**Question**

Least of three numbers.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q24.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-27 16:25] frankhart2018 opened #70 "[FEATURE] Write simC code for question 25"
**Question**

Print reverse of a number.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q25.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-27 16:25] frankhart2018 opened #71 "[FEATURE] Write simC code for question 26"
**Question**

Factorial without recursion.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q26.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-27 16:25] frankhart2018 opened #72 "[FEATURE] Write simC code for question 27"
**Question**

Sum of factorial of digits of a number.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q27.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-27 16:25] frankhart2018 opened #73 "[FEATURE] Write simC code for question 28"
**Question**

Permutation computation nPx.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q28.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-27 16:25] frankhart2018 opened #74 "[FEATURE] Write simC code for question 29"
**Question**

Combination computation nCx.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q29.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-27 16:25] frankhart2018 opened #75 "[FEATURE] Write simC code for question 30"
**Question**

Compute the following series till nth term.

![WhatsApp_Image_2020-03-07_at_23 25 56](https://user-images.githubusercontent.com/38374913/94370376-5825b180-010d-11eb-9f20-7284abce907d.jpeg)

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q30.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assign

[2020-09-27 16:26] frankhart2018 opened #76 "[FEATURE] Write simC code for question 31"
**Question**

Check whether a year is leap or not.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q31.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-27 16:26] frankhart2018 opened #77 "[FEATURE] Write simC code for question 32"
**Question**

Compute the value of following series till nth term.

![WhatsApp_Image_2020-03-07_at_23 25 57](https://user-images.githubusercontent.com/38374913/94370410-7db2bb00-010d-11eb-868a-94bf50c5915c.jpeg)

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q32.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. On

[2020-09-27 16:26] frankhart2018 opened #78 "[FEATURE] Write simC code for question 33"
**Question**

Compute the value of following series till nth term.

![WhatsApp_Image_2020-03-07_at_23 25 57-2](https://user-images.githubusercontent.com/38374913/94370434-991dc600-010d-11eb-8e59-530355cc9ff8.jpeg)

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q33.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer.

[2020-09-27 16:26] frankhart2018 opened #79 "[FEATURE] Write simC code for question 34"
**Question**

Define two string variables and concatenate their values and print the value.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q34.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete

[2020-09-27 16:26] frankhart2018 opened #80 "[FEATURE] Write simC code for question 35"
**Question**

Finding the roots of a quadratic equation using Sridharacharya's formula.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q35.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/

[2020-09-27 16:26] frankhart2018 opened #81 "[FEATURE] Write simC code for question 36"
**Question**

Print the area of triangle using heron's formula.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q36.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-27 16:27] frankhart2018 opened #82 "[FEATURE] Write simC code for question 37"
**Question**

Twin prime. A twin prime is a prime number that is either 2 less or 2 more than another prime number—for example, either member of the twin prime pair (41, 43). (Source: https://en.wikipedia.org/wiki/Twin_prime)

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q37.simc

**Note**: You can only start doing a question if it has been assigned to you by a

[2020-09-27 16:27] frankhart2018 opened #83 "[FEATURE] Write simC code for question 38"
**Question**

Compute hypotenuse of a triangle using Pythagoras theorem.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q38.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-27 16:27] frankhart2018 opened #84 "[FEATURE] Write simC code for question 39"
**Question**

Calculate simple interest.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q39.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-27 16:27] frankhart2018 opened #85 "[FEATURE] Write simC code for question 40"
**Question**

Compute compound interest.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q40.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-27 16:27] frankhart2018 opened #86 "[FEATURE] Write simC code for question 41"
**Question**

Check if a number is special or not. A number is special when sum of factorial of digits of number is equal to that number. Example 145 = 1! + 4! + 5! = 145.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q41.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions wi

[2020-09-27 16:44] Priyanshu-official commented on #81
if it is not assigned.
I would like to do this

[2020-09-27 16:46] frankhart2018 commented on #81
Sure @Priyanshu-official. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-27 16:54] arnavk09 commented on #84
Please assign this question to me. I will be writing the code in C programming language

[2020-09-27 17:00] Priyanshu-official commented on #81
I need Help @frankhart2018
 I have to Write in C language or in SimC

[2020-09-27 17:01] frankhart2018 commented on #84
Hey @arnavk09, I don't think you understood the concept of simC. The whole concept is to write code in simC (which is a high level front end or what you may know as syntax for C) which gets compiled to C. This front end is simpler than C's syntax.

[2020-09-27 17:02] frankhart2018 commented on #81
You have to write code in simC @Priyanshu-official. Please check the issue properly. Thanks.

[2020-09-27 17:03] arnavk09 commented on #84
okay, count me out, I'm a beginner and first time participant in Hacktoberfest and have no prior programming experience in simC

[2020-09-27 17:04] frankhart2018 commented on #84
@arnavk09 this is a new tool, no one could have used it.

[2020-09-27 17:05] Priyanshu-official commented on #81
Thanks

[2020-09-27 17:45] Priyanshu-official commented on #81
I am not able to install SimC
can you help me pls
when I use this Commend:     mv simc /usr/local/bin
i got this Result:
mv: cannot create regular file '/usr/local/bin/simc': Permission denied

[2020-09-27 17:46] frankhart2018 commented on #81
@Priyanshu-official are you using macOS?

[2020-09-27 17:50] Priyanshu-official commented on #81
No Ubantu

[2020-09-27 17:53] frankhart2018 commented on #81
Then why are you using macOS instructions, please follow linux installation instructions.

[2020-09-27 17:55] Priyanshu-official commented on #81
Ya, I am doing the wrong installation.
Sorry to Disturbed you

[2020-09-27 17:56] frankhart2018 commented on #81
No worries 😄

[2020-09-27 18:02] Priyanshu-official commented on #81
Doing Everythings right Now again Stuck
It Show this error :
priyanshu@King:~/Desktop/hack/SimC/sim-c$ mv simc-linux-v0.1-alpha-1 simc

priyanshu@King:~/Desktop/hack/SimC/sim-c$ mv simc /usr/bin

mv: cannot create regular file '/usr/bin/simc': Permission denied

priyanshu@King:~/Desktop/hack/SimC/sim-c$ simc q36.simc

Help me to Fix this

[2020-09-27 18:04] frankhart2018 commented on #81
Can you try:-

[code]

[2020-09-27 18:10] heisastark commented on #68
Can i please work on this? @frankhart2018

[2020-09-27 18:10] Priyanshu-official commented on #81
ya Done
this is Comming
priyanshu@King:~/Desktop/hack/SimC/sim-c$ simc q36.simc

bash: /usr/bin/simc: Permission denied

priyanshu@King:~/Desktop/hack/SimC/sim-c$

[2020-09-27 18:11] VamsyVrishank commented on #80
Hey! Can you please assign me this? @frankhart2018

[2020-09-27 18:12] heisastark commented on #71
Hey! Can I please take this?

[2020-09-27 18:15] frankhart2018 commented on #80
Sure @VamsyVrishank. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-27 18:17] frankhart2018 commented on #68
Sure @heisastark. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-27 18:18] frankhart2018 commented on #71
Sure @heisastark. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-27 18:19] heisastark commented on #68
@frankhart2018 PR's will be counted from1st Oct, right?

[2020-09-27 18:20] frankhart2018 commented on #81
Ok do:-

[code]

[2020-09-27 18:20] frankhart2018 commented on #68
Yes

[2020-09-27 18:20] VamsyVrishank commented on #76
@frankhart2018 Hey! I'd really like to work on this, can you please assign me?

[2020-09-27 18:22] frankhart2018 commented on #76
Sure @VamsyVrishank. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-27 18:24] Priyanshu-official commented on #81
Done I think Solve but
I think I need  python lib
[code]

am i right?

[2020-09-27 18:28] frankhart2018 commented on #81
Can you provide your ubuntu version? Sorry you have to go through this much trouble for installation.

[2020-09-27 18:32] Priyanshu-official commented on #81
ubuntu version: Ubuntu 18.04.5 LTS
No Problem Because of this I read many docs and Your Whole SimC doc.

[2020-09-27 18:33] frankhart2018 commented on #81
Wait I will change the installation procedure. Give me time till tomorrow will get back with a better approach.

[2020-09-27 18:37] Priyanshu-official commented on #81
Ya Sure,
I also thinking what if can be a Complier and Hosted in website so it easy to test (But it's Complicated)
So I think I should wait till tomorrow Because I am still Stuck in the python lib

[2020-09-27 18:38] frankhart2018 commented on #81
Yeah the team is working on an online compiler for a more hassle free experience.

[2020-09-27 18:41] heisastark commented on #68
Thanks! @frankhart2018

[2020-09-27 18:51] Priyanshu-official commented on #84
I would Like to do  this

[2020-09-27 18:52] asmitraj05 commented on #69
Hello! @frankhart2018 Can you please assign me this?

[2020-09-27 18:53] coldkillerr commented on #86
I request you to assign this question to me.  I think I can solve this.

[2020-09-27 18:53] asmitraj05 commented on #79
Hey! Can you please assign me this? @frankhart2018

[2020-09-27 19:04] laddhashreya2000 commented on #85
Hey! I would like to do this. Can u assign me this?

[2020-09-27 19:05] laddhashreya2000 commented on #70
Hey! I would like to do this. Can u assign me this?

[2020-09-27 19:06] laddhashreya2000 commented on #72
Hi! I would like to do this.

[2020-09-27 19:32] frankhart2018 commented on #81
Updated the installation procedure, hope now the installation pipeline is simplified 😄

[2020-09-27 19:33] frankhart2018 commented on #69
Sure @asmitraj05. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-27 19:35] frankhart2018 commented on #70
Sure @laddhashreya2000. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-27 19:36] frankhart2018 commented on #72
Sure @laddhashreya2000. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-27 19:37] frankhart2018 commented on #79
Sure @asmitraj05. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-27 19:38] frankhart2018 commented on #84
Sure @Priyanshu-official. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-27 19:39] frankhart2018 commented on #85
Sure @laddhashreya2000. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-27 19:40] frankhart2018 commented on #86
Sure @coldkillerr. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-27 20:00] asmitraj05 commented on #69
Making a PR for this issue won't be counted in Hacktoberfest?
The for hacktober isn't there

[2020-09-27 20:00] coldkillerr commented on #86
[code]
[code]

I am getting this error when I try running the `new.simc` file

[2020-09-27 20:01] asmitraj05 commented on #73
Can i please take this? @frankhart2018

[2020-09-27 20:02] frankhart2018 commented on #86
It seems that the syntax has been updated, thanks @coldkillerr for pointing this out. Use fun instead of def.

[2020-09-27 20:03] laddhashreya2000 commented on #67
Can u assign me this as well? I would like to do.

[2020-09-27 20:04] asmitraj05 commented on #74
Can you please assign this to me? I'd love to contribute @frankhart2018

[2020-09-27 20:04] frankhart2018 commented on #69
Thanks for pointing out, I forgot to put the hacktoberfest label

[2020-09-27 20:05] frankhart2018 commented on #67
Sure @laddhashreya2000. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-27 20:06] frankhart2018 commented on #73
Sure @asmitraj05. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-27 20:06] frankhart2018 commented on #74
Sure @asmitraj05. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-27 20:47] coldkillerr commented on #86
[code]
Now I am getting this error
[code]

[2020-09-27 23:02] adenashameem commented on #82
Can I be assigned this please?

[2020-09-27 23:08] adenashameem commented on #83
Hey can you please assign this to me?

[2020-09-28 05:03] Priyanshu-official commented on #81
Thanks for udate
I have follow the same
This Error is coming
---------------------------
[code]

[2020-09-28 07:27] frankhart2018 commented on #81
What python version you are using?

[2020-09-28 07:29] frankhart2018 commented on #82
Sure @adenashameem. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-28 07:30] frankhart2018 commented on #83
Sure @Subarna578. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-28 08:19] Priyanshu-official commented on #81
Python 2.7.17

[2020-09-28 08:21] frankhart2018 commented on #81
Ok that is why it isn't working, you have to use python3 (preferably python 3.5 or greater). Set your default python as python3. You might find this useful - https://garywoodfine.com/configure-python-3-4-default-ubuntu-14-04-2/.

[2020-09-28 08:23] Priyanshu-official commented on #81
thanks Got it

[2020-09-28 09:07] Priyanshu-official commented on #81
I think I find some issue @frankhart2018
when I use this:
 **var  amount=((p*r*t)/100)**      in simc
it converts in **C** like this:
**int amount=((p * r * t);**

[2020-09-28 09:09] Priyanshu-official commented on #81
@frankhart2018  can help me to know how to import math.h
because sqrt is not working is shown this
`[Line 7] Error: Expected 0 parameters but got 1 parameters in function sqrt
`

[2020-09-28 09:41] Priyanshu-official commented on #81
@frankhart2018 I have Fixed that  Problem Q93

[2020-09-28 09:51] frankhart2018 commented on #81
Can you share the code for Q39 here

[2020-09-28 09:52] Priyanshu-official commented on #84
@frankhart2018
there is an issue When I Declare
**var main**
but in Simc
it in  C put this
**declared main;**

[2020-09-28 10:17] frankhart2018 commented on #86
Yeah functions are a bit broken, can you use two loops for this?

[2020-09-28 10:32] frankhart2018 commented on #84
Merged, thanks for your contribution @Priyanshu-official.

[2020-09-28 10:32] #84 closed

[2020-09-28 10:39] Priyanshu-official commented on #81
@frankhart2018
hi sorry to ask a different question but I don't where to ask
Like I have taken First PR for Hacktoberfest.
but it no so in my Hacktoberfest Profile?
any Idea

[2020-09-28 10:42] frankhart2018 commented on #81
PRs will be counted only from 1st October. Please check https://hacktoberfest.digitalocean.com/#event-details

[2020-09-28 10:43] Priyanshu-official commented on #81
@frankhart2018
Thank you :)

[2020-09-28 10:44] Priyanshu-official commented on #81
@frankhart2018
I got an error in
sqrt q36
`[Line 8] Error: Expected 0 parameters but got 1 parameters in function sqrt
`

[2020-09-28 10:45] frankhart2018 commented on #81
Yeah we don't support any standard libraries yet. Will be pushing a power operator soon, you can use that operator to compute sqrt.

[2020-09-28 10:46] Priyanshu-official commented on #78
can I do this

[2020-09-28 11:22] frankhart2018 commented on #81
The power operator has been added do check the arithmetic operators section in docs. Thanks for reporting this issue.

[2020-09-28 11:23] frankhart2018 commented on #78
Sure @Priyanshu-official. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-28 20:17] coldkillerr commented on #86
What exactly should I do?

Also ,
I am getting this error ,

[code]
when I run this code ,

[code]

[2020-09-29 06:47] frankhart2018 commented on #86
Hey @coldkillerr, can you report this here:- <a href="https://github.com/cimplec/sim-c/issues/66" target="_blank">#66</a>

[2020-09-29 16:57] c-schuhmann commented on #75
Hey, I would like to create the code for task!

[2020-09-29 16:58] c-schuhmann commented on #77
Hey, I would like to create the code for this task too! :)

[2020-09-29 17:04] frankhart2018 commented on #75
Sure @c-schuhmann. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-29 17:08] frankhart2018 commented on #77
Sure @c-schuhmann. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-30 12:22] #46 closed

[2020-09-30 12:22] frankhart2018 commented on #46
Merged, thanks for your contribution @Priyanshu-official.

[2020-09-30 12:26] frankhart2018 opened #89 "[FEATURE] Write simC code for question 42"
**Question**

Check whether a number is automorphic or not. A number is automorphic when the number resides at the end of its square. Eg:- 25, as 25^2 = 625 and 25 appears at the end.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q42.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this

[2020-09-30 12:26] frankhart2018 opened #90 "[FEATURE] Write simC code for question 43"
**Question**

Smith number.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q43.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-30 12:26] frankhart2018 opened #91 "[FEATURE] Write simC code for question 44"
**Question**

Kaprekar number.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q44.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-30 12:26] frankhart2018 opened #92 "[FEATURE] Write simC code for question 45"
**Question**

Find the composite factors of a number.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q45.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-30 12:26] frankhart2018 opened #93 "[FEATURE] Write simC code for question 46"
**Question**

LCM of a number.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q46.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-30 12:26] frankhart2018 opened #94 "[FEATURE] Write simC code for question 47"
**Question**

GCD of a number.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q47.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-30 12:27] frankhart2018 opened #95 "[FEATURE] Write simC code for question 48"
**Question**

Check whether a phone number is valid or not (length == 10).

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q48.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-30 12:27] frankhart2018 opened #96 "[FEATURE] Write simC code for question 49"
**Question**

Volume of a cylinder.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q49.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-30 12:27] frankhart2018 opened #97 "[FEATURE] Write simC code for question 51"
**Question**

Check if two given circles are orthogonal or not.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q51.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-30 12:27] frankhart2018 opened #98 "[FEATURE] Write simC code for question 52"
**Question**

Lucky number.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q52.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-09-30 12:59] siddharthaml commented on #96
Can I take this?

[2020-09-30 13:10] frankhart2018 commented on #96
Sure @siddharthaml. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-30 13:13] #43 closed

[2020-09-30 13:14] frankhart2018 commented on #43
Merged, thanks for your contribution @i-am-jeetu.

[2020-09-30 13:16] frankhart2018 commented on #56
Merged, thanks for your contribution @siddharthaml.

[2020-09-30 13:31] lucasace commented on #89
Can I get assigned to this issue?

[2020-09-30 13:38] frankhart2018 commented on #89
Sure @lucasace. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-30 13:46] #56 closed

[2020-09-30 14:28] viggi-v commented on #33
Hi,

Is it possible for me to take this issue up?

[2020-09-30 14:28] #53 closed

[2020-09-30 14:32] SanjayJn commented on #93
@frankhart2018 I would like to do this

[2020-09-30 14:33] frankhart2018 commented on #93
Sure @SanjayJn. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-30 14:35] frankhart2018 commented on #33
Sure @viggi-v. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-30 15:32] #93 closed

[2020-09-30 15:32] dhairyaj commented on #93
Merged

[2020-09-30 15:32] dhairyaj commented on #96
Merged

[2020-09-30 15:32] #96 closed

[2020-09-30 16:55] viggi-v commented on #33
[code]
Is this good?

[2020-09-30 19:12] AdeshChoudhar19 commented on #94
I would like to work on this.

[2020-09-30 19:12] AdeshChoudhar19 commented on #95
I would like to work on this.

[2020-09-30 20:03] Priyanshu-official commented on #81
@frankhart2018 how I can update coz I am getting the same error

[2020-09-30 20:12] Martianmellow12 commented on #98
Could you assign this to me? Also, could I get a little more information on what the question is? "Lucky number" is a little vague.

[2020-09-30 20:17] Priyanshu-official commented on #81
@frankhart2018 I need to find Squareroot but the Same error coming like previous one

[2020-09-30 20:33] Martianmellow12 commented on #91
Could you assign this to me?

[2020-10-01 04:16] suraj-shivu commented on #97
Hi!, I'm interested and I would like to do this.

[2020-10-01 07:19] dhairyaj commented on #33
for malloc, the first option seems good
free(a) is fine
instead of reshape, use realloc

[2020-10-01 07:27] #89 closed

[2020-10-01 07:27] dhairyaj commented on #89
Merged

[2020-10-01 07:37] dhairyaj commented on #48
Merged

[2020-10-01 07:37] #48 closed

[2020-10-01 07:53] dhairyaj commented on #91
Sure @Martianmellow12 , will assign this to you. Thanks for considering to contribute.

[2020-10-01 08:00] dhairyaj commented on #98
Sure @Martianmellow12 , would assign this to you. "A number is lucky if all digits of the number are different."
In this question, you have to determine whether the number given as input is lucky or not.

[2020-10-01 08:01] dhairyaj commented on #95
@AdeshChoudhar19 , sure. Would assign this to you.

[2020-10-01 08:01] YJDoc2 commented on #28
I have made PR #107 for this.

[2020-10-01 08:02] dhairyaj commented on #97
Sure @suraj-shivu Would assign this to you.

[2020-10-01 08:04] dhairyaj commented on #94
Sure @AdeshChoudhar19 assigning this to you.

[2020-10-01 09:13] dhairyaj commented on #51
Merged

[2020-10-01 09:13] #51 closed

[2020-10-01 09:17] dhairyaj commented on #54
Merged

[2020-10-01 09:17] #54 closed

[2020-10-01 09:21] dhairyaj commented on #28
Thanks @YJDoc2 , we will check this out and then take further action. Thanks for the contribution.

[2020-10-01 09:33] lucasace commented on #90
Can I get assigned to this?

[2020-10-01 09:55] Priyanshu-official commented on #81
@frankhart2018 help me I have tried everything I thing Power is added But `Sqrt`  is not added

[2020-10-01 10:29] frankhart2018 commented on #58
Merged, thanks for your contribution @bruhbs.

[2020-10-01 10:29] #58 closed

[2020-10-01 10:56] #44 closed

[2020-10-01 10:57] dhairyaj commented on #44
Merged

[2020-10-01 10:59] frankhart2018 commented on #28
Merged, thanks for your contribution.

[2020-10-01 10:59] #28 closed

[2020-10-01 11:05] frankhart2018 commented on #90
Sure @lucasace. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-01 11:14] frankhart2018 commented on #81
Yeah so can you not use power for that?

[2020-10-01 12:18] ssinghaldev commented on #59
Hey sorry! I will be sending a PR by this weekend!

[2020-10-01 12:20] frankhart2018 commented on #59
Sure @ssinghaldev, just make sure you do so before 3rd October. Hope you know the 7 day assignee rule.

[2020-10-01 13:06] frankhart2018 commented on #47
Merged, thanks for your contribution @kunal1197.

[2020-10-01 13:06] #47 closed

[2020-10-01 13:18] Priyanshu-official commented on #81
@frankhart2018 No, I have to find Sqrt of Given number

[2020-10-01 13:49] frankhart2018 commented on #81
Yeah but isn't square root just a number raised to 0.5 or 1/2?

[2020-10-01 13:56] frankhart2018 commented on #86
Merged, thanks for your contribution @coldkillerr.

[2020-10-01 13:56] #86 closed

[2020-10-01 14:09] Priyanshu-official commented on #81
@frankhart2018 Without Using `sqrt` Program Will long and in This question Sqrt is Important
also, I have tried Without sqrt but not run Properly

[2020-10-01 14:15] frankhart2018 commented on #81
Please pick another question @Priyanshu-official, it will be better if someone else takes this one.

[2020-10-01 14:18] Priyanshu-official commented on #81
@frankhart2018 Just give me today Night I will do it

[2020-10-01 14:22] frankhart2018 commented on #67
Merged, thanks for your contribution @laddhashreya2000.

[2020-10-01 14:22] #67 closed

[2020-10-01 16:38] AdeshChoudhar19 commented on #95
I have learned some basics of the language from this repository, can you share some material/link regarding the language. It will surely help a lot.

[2020-10-01 16:46] siddharthaml commented on #95
@AdeshChoudhar19 its not actually a language, just a high level syntax for C. Also we have provided all the links (for materials) that we have prepared for simC till now in our README.md. So, in all we have 2 medium articles and our docs and that is all we have as materials.

[2020-10-01 16:48] frankhart2018 commented on #95
@AdeshChoudhar19 its not actually a language, just a high level syntax for C. Also we have provided all the links (for materials) that we have prepared for simC till now in our README.md. So, in all we have 2 medium articles and our docs and that is all we have as materials.

[2020-10-01 16:48] lucasace opened #133 "[BUG REPORT] For loop not accepting variables as starting or ending variable"
**Describe the bug**
While writing the for loop in simc, a variable name cannot be used as a starting value or a ending value, the simc compiler throws a error

**To Reproduce**
Steps to reproduce the behavior:
simc code:
[code]
produces a error saying **[Line 4] Error: Expected starting value**

**Expected behavior**
simc Code:
[code]

C code:
Not generated

Expected C code:
[code]

**Desktop (pl

[2020-10-01 16:52] frankhart2018 commented on #133
Thanks @lucasace for reporting the bug. Please also link this to #66 too.  You can comment on that something like:-

Bug reported - For loops not accepting variables as starting or ending varibale - #133.

[2020-10-01 16:57] lucasace commented on #133
Okay sure!

[2020-10-01 16:58] AdeshChoudhar19 commented on #95
Got it! I'm sorry new to open source. I will try my best. Thank you for helping.

[2020-10-01 16:58] lucasace commented on #66
Bug reported - For loops not accepting variables as starting or ending variable - #133

[2020-10-01 17:50] puranjaymohan commented on #92
Please assign it to me :D
Thanks

[2020-10-01 18:31] frankhart2018 commented on #95
@AdeshChoudhar19 we encourage asking questions whenever you have doubts. Please don't say sorry 😄.

[2020-10-01 18:34] frankhart2018 commented on #92
Sure @puranjaymohan. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-01 18:41] frankhart2018 commented on #70
Merged thanks for your contribution @laddhashreya2000.

[2020-10-01 18:41] #70 closed

[2020-10-01 18:45] frankhart2018 commented on #85
Merged, thanks for contributing @laddhashreya2000.

[2020-10-01 18:45] #85 closed

[2020-10-01 19:03] prashansatanwar commented on #45
Can I be assigned this issue? I will do it by tomorrow.

[2020-10-01 19:04] tanmay-j commented on #55
Can I be assigned this issue? I will get it done by tomorrow.

[2020-10-01 19:06] frankhart2018 commented on #45
Sure @prashansatanwar. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-01 19:07] frankhart2018 commented on #55
Sure @tanmay-j. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-01 19:09] frankhart2018 commented on #97
Merged

[2020-10-01 19:09] #97 closed

[2020-10-01 23:40] ari-hacks commented on #57
Hey, @frankhart2018 I'd like to pick this one up

[2020-10-02 05:08] Martianmellow12 opened #137 "[BUG REPORT] Compiler throws warnings when an input statement is used with no print statements"
**Describe the bug**
If a program has an `input` statement, but no `print` statements, then the resulting C file is unable to compile without warnings in GCC due to `stdio.h` not being included.

**To Reproduce**
To reproduce the behavior, run the following code:
[code]
Attempting to compile the resulting C file produces implicit declaration warnings for `printf` and `scanf`

**Expected behavior**

[2020-10-02 05:09] Martianmellow12 commented on #137
If you'd assign me, I'd like to take a shot at fixing this bug

[2020-10-02 08:05] dhairyaj commented on #98
Merged

[2020-10-02 08:05] #98 closed

[2020-10-02 08:08] lucasace commented on #133
I would like to take a shot at this

[2020-10-02 08:09] dhairyaj commented on #90
Merged.

[2020-10-02 08:09] #90 closed

[2020-10-02 08:48] dhairyaj commented on #72
Merged.

[2020-10-02 08:48] #72 closed

[2020-10-02 09:14] frankhart2018 commented on #133
Sure @lucasace try this. Thanks.

[2020-10-02 09:17] frankhart2018 commented on #137
Thanks @lucasace for reporting the bug. Please also link this to #66 too. You can comment on that something like:-

Bug reported - Compiler throws warnings when an input statement is used with no print statements - #137.

[2020-10-02 09:18] frankhart2018 commented on #137
Sure assigning this to you @Martianmellow12. Thanks.

[2020-10-02 09:49] dhairyaj commented on #91
Merged

[2020-10-02 09:49] #91 closed

[2020-10-02 11:14] adenashameem commented on #82
I have a doubt. Do you want a program where we find out all twin prime pairs between some range 1 to n OR a program where the user inputs two numbers and we have to find if they are a twin prime pair.

[2020-10-02 11:29] dhairyaj commented on #68
Merged

[2020-10-02 11:29] #68 closed

[2020-10-02 11:30] frankhart2018 commented on #57
Sure @ari-hacks. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-02 12:00] adenashameem commented on #82
Because the second one would require a boolean array and reading the documentation, i don't think we have the array provision yet in simC

[2020-10-02 12:24] frankhart2018 commented on #82
We need a code that takes input from user (2 numbers) and checks whether they are twin prime or not.

[2020-10-02 12:29] frankhart2018 commented on #57
Merged, thanks for your contribution @ari-hacks.

[2020-10-02 12:29] #57 closed

[2020-10-02 13:12] adenashameem commented on #82
Okay thankyou.

[2020-10-02 13:30] frankhart2018 commented on #83
Merged, thanks for your contribution @adenashameem.

[2020-10-02 13:30] #83 closed

[2020-10-02 14:30] Cc618 commented on #81
Hi ! I would like to contribute, can I give it a try ?

[2020-10-02 14:33] frankhart2018 commented on #71
Merged, thanks for your contribution @heisastark.

[2020-10-02 14:33] #71 closed

[2020-10-02 14:53] frankhart2018 commented on #81
Sure @Cc618. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-02 14:59] #69 closed

[2020-10-02 15:01] #74 closed

[2020-10-02 15:03] #73 closed

[2020-10-02 15:05] dhairyaj commented on #82
Merged

[2020-10-02 15:05] #82 closed

[2020-10-02 15:35] adenashameem opened #149 "[BUG REPORT]When printing with variables embedded in strings all occurrences of the variable in the string are converted into format specifier"
**Describe the bug**
When using the syntax provided for printing with variables embedded in strings, each and every occurrence of that variable even in the string part is converted into a format specifier, however only the occurrence of the variable after the '=' sign should be converted into a format specifier.

**To Reproduce**
Steps to reproduce the behavior:
simC code:
MAIN
    var a_var = 42

[2020-10-02 15:36] frankhart2018 commented on #149
Thanks @adenashameem for reporting the bug. Please also link this to #66 too. You can comment on that something like:-

Bug reported - When printing with variables embedded in strings all occurrences of the variable in the string are converted into format specifier #149.

[2020-10-02 15:38] adenashameem commented on #66
Bug reported - When printing with variables embedded in strings all occurrences of the variable in the string are converted into format specifier #149.

[2020-10-02 15:41] adenashameem commented on #149
Can I try to fix this?

[2020-10-02 15:41] frankhart2018 commented on #149
Sure @adenashameem, assigning this to you.

[2020-10-02 15:57] Priyanshu-official commented on #78
@frankhart2018 hello
I have created code for this and its Working fine but
but I am not able to use `BEGIN_C & END_C` I got this Error
`Error: Variable BEGIN_C used before declaration`
help me If you have time And Really Like SimC code

[2020-10-02 16:04] frankhart2018 commented on #78
First of all, I created simC so of course I like it, if you are asking a maintainer for help please do so without being rude. To answer your question:- You have an old installation of simC build, uninstall that and reinstall simC and you will be able to use the Raw C injection.

To uninstall and reinstall follow these steps:-

[code]

**Note**: If your python3-pip is invoked using pip3 instead of

[2020-10-02 16:19] Priyanshu-official commented on #78
@frankhart2018
Ohh Sorry You do not understand what I am Saying
I am saying I started liked the SimC
I am not being rude Sorry you MisUnderstand
I am who not Described my statement properly Sorry About that

Thanks for Helping me In every step

[2020-10-02 16:35] Priyanshu-official commented on #78
@frankhart2018 please Review My PR

[2020-10-02 17:13] tanmay-j commented on #45
I think there is an issue with using print statements with variables.

    print("{sum} is the sum of the digits.")

this line of code is getting compiled to

	printf("%d is the %d of the digits.", sum);
whereas the intended c code was

	printf("%d is the sum of the digits.", sum);
This shouldn't happen according to the documentation.

Simc Code file
![image](https://user-images.githubusercontent.

[2020-10-02 18:21] Martianmellow12 commented on #66
Bug reported - Compiler throws warnings when an input statement is used with no print statements - #137.

[2020-10-02 19:20] tanmay-j commented on #55
I think there is an issue with print statements with variables, here you can see that the sum in the string that was not meant to be replaced by the variable got replaced.

Simc Code
![image](https://user-images.githubusercontent.com/46467385/94960943-5a26b080-0511-11eb-90d6-f8b146c8abd1.png)

Compiled C code
![image](https://user-images.githubusercontent.com/46467385/94951382-cb5e6780-0501-11eb-8

[2020-10-02 19:22] Priyanshu-official commented on #78
@frankhart2018
I have Coded Without Raw C
but In loop i.e `for i in 1 to n by +1`
I am getting Error I have tried many other things but not Fix any Idea to solve
`Error: Expected ending value`
I am Taking Value of  "n"  By user

[2020-10-02 19:40] frankhart2018 commented on #55
Yeah this bug has been reported. Thanks for bringing into notice though @tanmay-j.

[2020-10-02 19:41] frankhart2018 commented on #78
Can you not do this with while loop. That work's perfectly fine.

[2020-10-02 19:44] frankhart2018 commented on #45
Merged, thanks for your contribution @prashansatanwar.

[2020-10-02 19:44] #45 closed

[2020-10-02 20:10] Priyanshu-official commented on #78
@frankhart2018 Thanks it  Worked

[2020-10-02 20:11] frankhart2018 commented on #78
Great 😃

[2020-10-02 20:22] frankhart2018 commented on #78
Merged.

[2020-10-02 20:22] #78 closed

[2020-10-03 09:20] frankhart2018 commented on #133
Merged, thanks for your contribution @lucasace.

[2020-10-03 09:20] #133 closed

[2020-10-03 09:40] #92 closed

[2020-10-03 09:41] frankhart2018 commented on #92
Merged, thanks for your contribution @puranjaymohan.

[2020-10-03 19:19] Martianmellow12 commented on #59
Could you assign this to me?

[2020-10-03 19:21] Martianmellow12 commented on #61
Could you assign this to me?

[2020-10-03 19:24] dhairyaj commented on #55
Merged.

[2020-10-03 19:24] #55 closed

[2020-10-03 19:26] dhairyaj commented on #80
Merged.

[2020-10-03 19:26] #80 closed

[2020-10-03 19:27] dhairyaj commented on #61
Sure @Martianmellow12 . Assigning this to you.

[2020-10-03 19:29] dhairyaj commented on #59
Sure @Martianmellow12 , assigning this to you.

[2020-10-03 19:47] frankhart2018 opened #161 "[FEATURE] Write simC code for question 53"
**Question**

Calculate the area of a rhombus when its diagonals are given.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q53.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-03 19:47] frankhart2018 opened #162 "[FEATURE] Write simC code for question 54"
**Question**

Calculate the area of a trapezium.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q54.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-03 19:47] frankhart2018 opened #163 "[FEATURE] Write simC code for question 55"
**Question**

Check if two numbers are coprime are not.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q55.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-03 19:47] frankhart2018 opened #164 "[FEATURE] Write simC code for question 56"
**Question**

Calculate the cost price when loss percentage and selling price is given.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q56.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/

[2020-10-03 19:47] frankhart2018 opened #165 "[FEATURE] Write simC code for question 57"
**Question**

Divide two numbers.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q57.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-03 19:48] frankhart2018 opened #166 "[FEATURE] Write simC code for question 58"
**Question**

The average of six numbers is 45, what is the average when 7th number is 21.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q58.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete h

[2020-10-03 19:48] frankhart2018 opened #167 "[FEATURE] Write simC code for question 59"
**Question**

Print area of circle.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q59.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-03 19:48] frankhart2018 opened #168 "[FEATURE] Write simC code for question 60"
**Question**

Print circumference of circle.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q60.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-03 19:48] frankhart2018 opened #169 "[FEATURE] Write simC code for question 61"
**Question**

Print the american flag.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q61.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-03 19:48] frankhart2018 opened #170 "[FEATURE] Write simC code for question 64"
**Question**

Decimal to hexadecimal conversion.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q64.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-03 19:48] frankhart2018 opened #171 "[FEATURE] Write simC code for question 65"
**Question**

Hexadecimal to decimal conversion.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q65.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-03 19:48] frankhart2018 opened #172 "[FEATURE] Write simC code for question 66"
**Question**

Octal to decimal.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q66.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-03 19:49] frankhart2018 opened #173 "[FEATURE] Write simC code for question 67"
**Question**

Decimal to octal.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q67.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-03 19:49] frankhart2018 opened #174 "[FEATURE] Write simC code for question 68"
**Question**

Binary to hexadecimal.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q68.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-03 19:49] frankhart2018 opened #175 "[FEATURE] Write simC code for question 69"
**Question**

Binary to octal.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q69.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-03 19:49] frankhart2018 opened #176 "[FEATURE] Write simC code for question 70"
**Question**

Compare two numbers (if they are equal, first is less, first is greater).

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q70.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/

[2020-10-03 19:49] frankhart2018 opened #177 "[FEATURE] Write simC code for question 71"
**Question**

Take a number as input (1-12) and display month.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q71.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-03 19:49] frankhart2018 opened #178 "[FEATURE] Write simC code for question 72"
**Question**

Internal angle of a regular polygon when number of sides are given.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q72.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her ta

[2020-10-03 19:50] frankhart2018 opened #179 "[FEATURE] Write simC code for question 73"
**Question**

Volume of a sphere.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q73.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-03 19:50] frankhart2018 opened #180 "[FEATURE] Write simC code for question 74"
**Question**

Volume of a cone.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q74.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-03 20:01] frankhart2018 commented on #61
Merged, thanks for your contribution @Martianmellow12.

[2020-10-03 20:01] #61 closed

[2020-10-03 20:54] frankhart2018 commented on #59
Merged, thanks for your contribution @Martianmellow12.

[2020-10-03 20:54] #59 closed

[2020-10-03 21:38] ilyasmg commented on #165
I'd like to take this.
What data type should the numbers be in?

[2020-10-03 21:55] vijayakshit commented on #180
@frankhart2018 I am Interested. Could you assign this to me?

[2020-10-03 22:54] Martianmellow12 opened #183 "[BUG REPORT] Using "s" to read in a string doesn't generate the proper C code"
**Describe the bug**
When `input` is called with `"s"` as the input type, the generated C code doesn't work properly.

**To Reproduce**
Below is a simc program accompanied by the generated C program:

simc
[code]

Generated C
[code]

**Expected behavior**
It's expected that whatever string was entered would be printed out, however all that's printed is `(null)`. Looking at the C code, it can be se

[2020-10-03 23:06] Martianmellow12 commented on #66
Bug reported - Using "s" to read in a string doesn't generate the proper C code - #183.

[2020-10-04 00:16] Nazarchamp commented on #179
Hello, I'd be interested in this. Could you assign me?

[2020-10-04 00:29] nanoy42 commented on #161
I would like to work on this !

[2020-10-04 03:46] DevLokCodes commented on #180
can you assign this task to me

[2020-10-04 03:47] DevLokCodes commented on #179
hey can i work on this , could you assign this task to me

[2020-10-04 03:48] DevLokCodes commented on #177
can i work on this problem, i would like to work on it

[2020-10-04 03:48] DevLokCodes commented on #175
can you assign this problem to me i would like to solve it

[2020-10-04 04:01] DevLokCodes commented on #168
can i get to work on this problem, i would like if you could assign this to me

[2020-10-04 04:01] Pratikzzz commented on #176
Hello there,
Can you assign this task to me? I'd be happy to help!

[2020-10-04 04:06] DevLokCodes commented on #166
hey i would like to work on this code
could you assign this code to me

[2020-10-04 04:07] DevLokCodes commented on #167
can i get assigned to this problem

[2020-10-04 06:52] alsam123 commented on #167
Hey, @frankhart2018 I am interested in it...Could you please assign it to me?

[2020-10-04 07:57] coolsonu39 commented on #178
Can I work on this? :)

[2020-10-04 07:57] Darshit-sopho commented on #162
I am a beginner to open source contributions. Could you please assign this problem to me?

[2020-10-04 11:35] frankhart2018 commented on #161
Sure @nanoy42. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-04 11:36] frankhart2018 commented on #162
Sure @Darshit-sopho. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-04 11:37] frankhart2018 commented on #165
Sure @Subarna578. Assigning this to you. Thanks for showing interest to contribute. Integer will be fine.

[2020-10-04 11:39] frankhart2018 commented on #166
Sure @DevLokCodes. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-04 11:41] frankhart2018 commented on #167
Sure @DevLokCodes. Assigning this to you. Thanks for showing interest to contribute. Sorry @alsam123 we follow a FCFS basis and since @DevLokCodes came first I have no choice but to assign it to him. Please find another issue, and thanks for showing interest to contribute @alsam123.

[2020-10-04 11:41] frankhart2018 commented on #168
Sure @DevLokCodes. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-04 11:42] frankhart2018 commented on #175
Sure @DevLokCodes. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-04 11:43] frankhart2018 commented on #176
Sure @Pratikzzz. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-04 11:43] frankhart2018 commented on #177
Sure @DevLokCodes. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-04 11:44] frankhart2018 commented on #178
Sure @coolsonu39. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-04 11:46] frankhart2018 commented on #179
Sure @Nazarchamp. Assigning this to you. Thanks for showing interest to contribute. Sorry @DevLokCodes we follow a FCFS basis and since @Nazarchamp came first I have no choice but to assign it to him. Please find another issue, and thanks for showing interest to contribute @DevLokCodes.

[2020-10-04 11:47] frankhart2018 commented on #180
Sure @vijayakshit. Assigning this to you. Thanks for showing interest to contribute. Sorry @DevLokCodes we follow a FCFS basis and since @vijayakshit came first I have no choice but to assign it to him. Please find another issue, and thanks for showing interest to contribute @DevLokCodes.

[2020-10-04 12:16] frankhart2018 commented on #183
@Martianmellow12 it seems that the issue only appears when compiled in linux, in macOS and Windows it works fine. Still it needs to be changed. But the issue with a constant length of 256 is -

1) It cannot hold a string longer than 256 bytes.
2) If the string is small let's assume "abc" then also the string holding it will take up 256 bytes in memory.

I believe there should be some other option.

[2020-10-04 12:59] nanoy42 opened #188 "[BUG REPORT] Variable in print is formatted even without {}"
**Describe the bug**
According to the documentation, https://gist.github.com/frankhart2018/56246355613061a3e1799621aed10f34#file-print-emb-var-simc, names of variables that are not in {} should not be formatted when translating to C. Here is an example from solving issue #161

[code]
and the c-code
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install simc as stated in documentation

[2020-10-04 13:02] nanoy42 opened #189 "[BUG REPORT] OR (||) is not translated correctly"
**Describe the bug**
Or symbol || was not translated. Here is an example from solving issue #161

[code]
and the c-code
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install simc as stated in documentation  `pip install git+https://github.com/cimplec/sim-c`
2. Translate the code given above

**Expected behavior**
The following code should be generated
[code]

**Desktop (please compl

[2020-10-04 13:12] DevLokCodes commented on #188
noticed the same bug with my code
it is not able to detect the parenthesis properly
The bug got fixed when i typed the string with difference in Upper class and lower class

images with bugs
![image](https://user-images.githubusercontent.com/69622048/95016528-26629c80-0671-11eb-9575-837c4812e1f4.png)
![image](https://user-images.githubusercontent.com/69622048/95016523-1f3b8e80-0671-11eb-96db-6ae96

[2020-10-04 13:15] Aayush-99 commented on #188
Thanks, for reporting this issue although it has already been reported by someone else and has been assigned to him. Please checkout #149

[2020-10-04 13:15] #188 closed

[2020-10-04 13:17] Aayush-99 commented on #189
Thanks @nanoy42 for reporting the bug. Please also link this to #66 too. You can comment on that something like:-

Bug reported - OR (||) is not translated correctly -  #189

[2020-10-04 13:20] nanoy42 commented on #66
Bug reported - OR (||) is not translated correctly - #189

[2020-10-04 13:44] DevLokCodes opened #190 "[BUG REPORT] Wrong Interpretation of ( ) parenthesis"
**Describe the bug**
Circular Parenthesis ( ) are not translated correctly for few examples,
During Translation either one of the closing bracket is lost or Runtime error occurs

**To Reproduce**
Steps to reproduce the behavior:
1. Install simc as stated in documentation pip install git+https://github.com/cimplec/sim-c
2. Translate the code given below

`MAIN
    // User input
	var AvgSix = 45
	va

[2020-10-04 13:52] abhisinha2001 commented on #60
Can I be assigned to this please?

[2020-10-04 14:25] nanoy42 commented on #189
Ok, so I investigated a little more and here is what I found.
The characters are not printed in the token list, when doing simc q54.simc token (as a comparison the && is recognized as two 'address_of' tokens).

After reviewing the code of `lexical_analyze', it seems that there is a missing edge case for the "|" symbol.

[2020-10-04 15:27] frankhart2018 commented on #137
Merged, thanks for your contribution @Martianmellow12.

[2020-10-04 15:27] #137 closed

[2020-10-04 15:51] frankhart2018 commented on #189
Thanks for taking time to go in detail of the code and finding out where the bug is. If you are willing I can assign this to you.

[2020-10-04 15:54] frankhart2018 commented on #190
Thanks @DevLokCodes for reporting the bug. Please also link this to #66 too. You can comment on that something like:-

Bug reported - Wrong Interpretation of ( ) parenthesis - #190

[2020-10-04 16:07] frankhart2018 commented on #161
Merged, thanks for your contribution @Priyanshu-official.

[2020-10-04 16:07] #161 closed

[2020-10-04 16:09] frankhart2018 commented on #60
Sure @abhisinha2001. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-04 16:10] nanoy42 commented on #189
Sure, I can try to give it a go.

[2020-10-04 16:11] frankhart2018 commented on #189
Ok, assigning this to you.

[2020-10-04 16:23] Darshit-sopho commented on #164
Hey! Could you please assign this problem to me?

[2020-10-04 16:43] Darshit-sopho commented on #66
Bug reported - Unable to compile curly bracket "{" placed in a new line after the if-else statement.

Code Example:
![image](https://user-images.githubusercontent.com/24406801/95021386-5b311c80-068e-11eb-9cf8-5a4241754f67.png)
Compiler error:
![image](https://user-images.githubusercontent.com/24406801/95021420-7c920880-068e-11eb-8651-517ff1bea2ab.png)

Operating System: Windows 10

Steps to reprod

[2020-10-04 17:00] vijayakshit commented on #180
@frankhart2018 PR for this issue https://github.com/cimplec/sim-c/pull/193

[2020-10-04 17:00] Darshit-sopho commented on #163
I would like to solve this problem of coprime numbers.

[2020-10-04 17:19] DevLokCodes commented on #66
Bug reported - Wrong Interpretation of ( ) parenthesis in cases of multiple brackets - #190

[2020-10-04 17:56] frankhart2018 commented on #180
Merged, thanks for your contribution @Priyanshu-official.

[2020-10-04 17:56] #180 closed

[2020-10-04 18:00] DevLokCodes opened #195 "[BUG REPORT] Indentation does not work in Switch cases"
**Describe the bug**
While the code runs as expected, if Switch case is used in simc the converted C file does not have proper indentations

**To Reproduce**
Steps to reproduce the behavior:
1. Install simc as stated in documentation pip install git+https://github.com/cimplec/sim-c
2. Translate the code given below

`MAIN
    // User input
	var month = input("Enter a number to find the correspondi

[2020-10-04 18:17] Darshit-sopho opened #197 "Bug reported - Unable to compile curly bracket "{" placed in a new line after the if-else statement."
Bug reported - Unable to compile curly bracket "{" placed in a new line after the if-else statement.

Code Example:
![image](https://user-images.githubusercontent.com/24406801/95021386-5b311c80-068e-11eb-9cf8-5a4241754f67.png)
Compiler error:
![image](https://user-images.githubusercontent.com/24406801/95021420-7c920880-068e-11eb-8651-517ff1bea2ab.png)

Operating System: Windows 10

Steps to reprod

[2020-10-04 18:20] frankhart2018 commented on #162
Merged, thanks for your contribution @Darshit-sopho.

[2020-10-04 18:20] #162 closed

[2020-10-04 18:24] frankhart2018 commented on #195
@DevLokCodes I really don't think this can be considered as a bug. This is more of a feaure for the compiler. We will be releasing proper indentation feature in 0.2 release. Since this seems irrelevant to be counted as bug, closing this. Thanks for pointing this out though.

[2020-10-04 18:24] #195 closed

[2020-10-04 18:27] frankhart2018 commented on #197
Thanks @Darshit-sopho for reporting the bug.

[2020-10-04 18:33] frankhart2018 commented on #163
Sure @Darshit-sopho. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-04 18:34] frankhart2018 commented on #164
Sure @Darshit-sopho. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-04 19:27] Priyanshu-official commented on #173
I Would Like to This

[2020-10-04 19:27] Priyanshu-official commented on #173
@frankhart2018

[2020-10-04 19:34] DevLokCodes commented on #170
i would like to work on this problem, could you assign this to me

[2020-10-04 19:34] DevLokCodes commented on #172
hey can you assign this problem to me, i would to like to work on it

[2020-10-04 20:28] frankhart2018 commented on #163
Merged, thanks for your contribution @Priyanshu-official.

[2020-10-04 20:28] #163 closed

[2020-10-04 20:29] frankhart2018 commented on #173
Sure @Priyanshu-official. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-04 20:30] frankhart2018 commented on #170
Sure @DevLokCodes. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-04 20:31] frankhart2018 commented on #172
Sure @DevLokCodes. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-04 20:32] ThomasBollmeier commented on #34
If that's okay for you, I would like to work on this issue.

[2020-10-04 20:33] frankhart2018 commented on #60
Merged, thanks for your contribution @abhisinha2001.

[2020-10-04 20:33] #60 closed

[2020-10-04 20:39] frankhart2018 commented on #179
Merged, thanks for your contribution @Priyanshu-official.

[2020-10-04 20:39] #179 closed

[2020-10-04 20:53] Darshit-sopho commented on #76
Could I be assigned to this issue?

[2020-10-05 00:40] Nazarchamp opened #202 "[FEATURE] Add constants to sim-c"
**The Problem**
I have realized that sim-c contains no constants(PI, TAU, etc.)
This makes it rather inconvenient to do any sort of math that involves circles and you have to manually type in the digits of your constant, which is both tedious and error-prone.

**The solution**
Implement in sim-c a way for you to be able to call constants directly, where on the backend this would convert to the mat

[2020-10-05 06:41] ThomasBollmeier opened #204 "[BUG REPORT] Function definition allows non-identifiers as parameters"
**Describe the bug**
I am able to define a function with non-identifiers as parameters and run it successfully through the compiler. This results in invalid C code.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a simc source file with the following content:
`fun will_not_compile_in_c(1, 2) {
    return 42
}

MAIN
    var answer = will_not_compile_in_c(41, 1)
END_MAIN`

2. Compile i

[2020-10-05 07:33] frankhart2018 commented on #34
Sure @ThomasBollmeier. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-05 07:33] frankhart2018 commented on #76
Sure @Darshit-sopho. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-05 07:41] #189 closed

[2020-10-05 07:42] frankhart2018 commented on #189
Merged, thanks for your contribution @nanoy42.

[2020-10-05 07:47] frankhart2018 commented on #164
Merged, thanks for your contribution @Darshit-sopho.

[2020-10-05 07:47] #164 closed

[2020-10-05 07:50] frankhart2018 commented on #176
Merged, thanks for your contribution @Pratikzzz.

[2020-10-05 07:50] #176 closed

[2020-10-05 07:53] frankhart2018 commented on #202
Sure would love this feature, assigning this to you @Nazarchamp.

[2020-10-05 07:59] frankhart2018 commented on #204
Sure @Subarna578. Assigning this to you. Thanks @ThomasBollmeier for reporting the bug. Please also link this to #66 too. You can comment on that something like:-

Bug reported - Function definition allows non-identifiers as parameters - #204.

[2020-10-05 10:22] dipsi-2151 commented on #79
hi please assign me @frankhart2018

[2020-10-05 10:26] dipsi-2151 commented on #169
please assign me

[2020-10-05 10:45] frankhart2018 commented on #79
Sure @dipsi-2151. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-05 10:46] frankhart2018 commented on #169
Sure @dipsi-2151. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-05 10:50] frankhart2018 commented on #76
Merged, thanks for your contribution @Darshit-sopho.

[2020-10-05 10:50] #76 closed

[2020-10-05 15:03] DevLokCodes commented on #166
I have submitted the required code for this problem,
I would like to try different ways to solve this problem if that is okay

[2020-10-05 15:20] DevLokCodes commented on #167
I have submitted the required code for this problem,
I would like to try different ways to solve this problem if that is okay

[2020-10-05 15:44] frankhart2018 commented on #166
Please take a different question if you want to do more, else it will mess up issues.

[2020-10-05 15:44] frankhart2018 commented on #167
Please take a different question if you want to do more, else it will mess up issues.

[2020-10-05 19:22] frankhart2018 commented on #175
Merged, thanks for your contribution @Priyanshu-official.

[2020-10-05 19:22] #175 closed

[2020-10-05 19:24] frankhart2018 commented on #177
Merged, thanks for your contribution @DevLokCodes.

[2020-10-05 19:24] #177 closed

[2020-10-05 21:30] ilyasmg commented on #30
I'd like to take this. It'll be helpful of you can give me hint on which files should be changed :D

[2020-10-06 05:55] frankhart2018 commented on #30
Sure @ilyasmg. Assigning this to you. So, to add this functionality you will have to make changes in the lexical analyzer (simc/lexical_analyzer.py) so that you identify these things as keywords, then you will have to add this support in the parser (simc/simc_parser.py) where you will parse these in the ```expression()``` function. In the compilation part (simc/compiler.py) you will just have to c

[2020-10-06 06:07] DevLokCodes commented on #62
i would like to solve this problem, could you assign this to me

[2020-10-06 06:08] PranshulDobriyal commented on #62
@DevLokCodes Assigning this to you, looking forward to your contribution

[2020-10-06 07:11] Priyanshu-official commented on #173
@frankhart2018 Sorry To Disturbed you
like I think as know Hactobesfest change the Rule Pr Will Count When
**Repo has Label:  Hactobesfest
and in PR:  Hactobesfest-accepted**

**but in my Previous PR Both are Not There**

[2020-10-06 07:14] frankhart2018 commented on #173
1) Hacktoberfest label is already in label from before hacktoberfest.
2) To get a PR accepted "hacktoberfest-accepted" is one of the ways, the other two are - merging the PR (which is done in your case), or getting it approved (which too is done for your).

Please read the rules carefully at:- https://hacktoberfest.digitalocean.com

[2020-10-06 07:17] Priyanshu-official commented on #173
@frankhart2018  Ohh Thanks
In my PR closed  History, it is not showing, and one PR has Both labels that's Why I confused I will count or Not?

[2020-10-06 10:06] Priyanshu-official commented on #173
@frankhart2018 Hii
pls Review my PR

[2020-10-06 16:27] frankhart2018 commented on #62
Merged, thanks for your contribution @DevLokCodes.

[2020-10-06 16:27] #62 closed

[2020-10-06 21:43] ilyasmg commented on #30
in the lexical_analyzer should I just add each data type in the is_keyword() or should I do also something else?

[2020-10-07 04:30] i-am-jeetu commented on #197
I want to work on this. Editting parser to skip newlines after detecting `else` will fix the issue.

[2020-10-07 05:19] Shaheer-rossoneri14 commented on #52
Can I do this @frankhart2018 ?

[2020-10-07 07:58] frankhart2018 commented on #30
Please go through the codebase, its fairly simple to read.

[2020-10-07 07:59] frankhart2018 commented on #197
Hey @i-am-jeetu it seems the same thing is to be done for all block type statements like while, for, functions, etc. Assigning this to you. Thanks for showing interest to solve this bug.

[2020-10-07 08:01] frankhart2018 commented on #52
Sure @Shaheer-rossoneri14. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-07 12:25] abhisinha2001 commented on #174
Can I be assigned to work on this feature?

[2020-10-07 12:31] abhisinha2001 commented on #75
Can I be assigned to work on this?

[2020-10-07 13:30] #197 closed

[2020-10-07 13:30] frankhart2018 commented on #197
Merged, thanks for your contribution @i-am-jeetu.

[2020-10-07 13:32] frankhart2018 commented on #174
Sure @abhisinha2001. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-07 13:33] frankhart2018 commented on #75
Sure @abhisinha2001. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-07 14:19] Shaheer-rossoneri14 commented on #52
I am sorry but I can't find how to work on array in simC in documentations or in the simC codes others contributed. So I used BEGIN_C and END_C but the problem is that the syntax of C for array operations is bulky and we are back to square one.
[code]
In this code compiler gives an error **"Error: Cannot find the type of matrix"**

[2020-10-07 14:25] frankhart2018 commented on #52
But why do you need an array for this question?

[2020-10-07 15:10] Shaheer-rossoneri14 commented on #52
Ok, my bad. This is pattern printing? I am really sorry for bothering. I thought it was that upper triangle of a matrix.

[2020-10-07 15:34] Shaheer-rossoneri14 commented on #49
I will like to do this as well if allowed! Thank you!

[2020-10-07 18:58] frankhart2018 commented on #49
Sure @Shaheer-rossoneri14. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-07 19:04] frankhart2018 commented on #52
Merged, thanks for your contribution @Shaheer-rossoneri14.

[2020-10-07 19:04] #52 closed

[2020-10-07 19:06] frankhart2018 commented on #178
Merged, thanks for your contribution @coolsonu39.

[2020-10-07 19:06] #178 closed

[2020-10-07 19:29] ThomasBollmeier commented on #66
Bug reported - Function definition allows non-identifiers as parameters - #204.

[2020-10-07 21:02] frankhart2018 opened #227 "[FEATURE] Write simC code for question 75"
**Question**

In a class there are 50% students study English, 30% study Hindi, 25% study foreign language, 10% study english with foreign language, find the percentage of students who study hindi with foreign language, if no one studies all the three subjects at a time

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q75.simc

**Note**: You can only start doing a

[2020-10-07 21:03] frankhart2018 opened #228 "[FEATURE] Write simC code for question 76"
**Question**

Compute the value of n + nn + nnn. Example 5 + 55 + 555 = 615.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q76.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-07 21:03] frankhart2018 opened #229 "[FEATURE] Write simC code for question 77"
**Question**

Print odd numbers from 1 to 99.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q77.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-07 21:03] frankhart2018 opened #230 "[FEATURE] Write simC code for question 78"
**Question**

Print the numbers which are divisible by 3 and 7 within a given range and do not include numbers divisible by both.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q78.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reass

[2020-10-07 21:03] frankhart2018 opened #231 "[FEATURE] Write simC code for question 79"
**Question**

Print numbers between 1 to 100 which are divisible by 3 or 5 or both.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q79.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her

[2020-10-07 21:03] frankhart2018 opened #232 "[FEATURE] Write simC code for question 80"
**Question**

Input three numbers, check if the sum of first two numbers is equal to the third number.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q80.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does no

[2020-10-07 21:03] frankhart2018 opened #233 "[FEATURE] Write simC code for question 81"
**Question**

Swap two variables without using third variable.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q81.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-07 21:04] frankhart2018 opened #234 "[FEATURE] Write simC code for question 82"
**Question**

Count factors of a number.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q82.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-07 21:04] frankhart2018 opened #235 "[FEATURE] Write simC code for question 83"
**Question**

Calculate modulo of two numbers without using the inbuilt modulo operator (%).

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q83.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete

[2020-10-07 21:04] frankhart2018 opened #236 "[FEATURE] Write simC code for question 84"
**Question**

Swap two variables with using third variable.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q84.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-07 21:13] zurda commented on #227
Hi @frankhart2018 , very nice project. I'd like to get involved.
Can I be assigned for this issue please?
Thanks!

[2020-10-07 21:18] zurda commented on #228
Hi @frankhart2018 , very nice project. I'd like to get involved.
Can I be assigned for this issue please?
Thanks!

[2020-10-07 21:24] zurda commented on #229
Hi @frankhart2018 , very nice project. I'd like to get involved.
Can I be assigned for this issue please?
Thanks!

[2020-10-08 03:20] Nazarchamp commented on #235
Hey, this seems interesting can I take this issue?

[2020-10-08 03:24] Nazarchamp commented on #233
This seems really interesting, can you assign this to me?

[2020-10-08 03:59] Shaheer-rossoneri14 commented on #236
I will like to do this one.

[2020-10-08 11:35] frankhart2018 commented on #229
Sure @zurda. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-08 11:37] frankhart2018 commented on #235
Sure @Nazarchamp. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-08 11:37] frankhart2018 commented on #233
Sure @Nazarchamp. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-08 12:49] dhairyaj commented on #49
Merged

[2020-10-08 12:49] #49 closed

[2020-10-08 15:53] abhisinha2001 commented on #234
Can I work on this ?

[2020-10-08 19:24] frankhart2018 commented on #34
Merged, thanks for your contribution @ThomasBollmeier.

[2020-10-08 19:24] #34 closed

[2020-10-08 19:24] frankhart2018 commented on #204
Merged, thanks for your contribution @ThomasBollmeier.

[2020-10-08 19:24] #204 closed

[2020-10-08 19:29] frankhart2018 commented on #75
Merged, thanks for your contribution @abhisinha2001.

[2020-10-08 19:29] #75 closed

[2020-10-08 19:34] frankhart2018 commented on #236
Sure @Shaheer-rossoneri14. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-08 19:35] frankhart2018 commented on #234
Sure @abhisinha2001. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-08 19:59] #229 closed

[2020-10-08 20:00] frankhart2018 commented on #229
Merged, thanks for your contribution @zurda.

[2020-10-08 20:13] zurda commented on #26
Hi @frankhart2018 , I'd love to give this a try if it's up for grabs?

[2020-10-08 20:15] frankhart2018 commented on #26
Sure @zurda. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-09 06:50] frankhart2018 commented on #236
Merged. Thanks for contributing @Shaheer-rossoneri14.

[2020-10-09 06:50] #236 closed

[2020-10-09 17:44] abhisinha2001 opened #243 "[BUG REPORT] Escape Sequence not supported"
**Describe the bug**
Whenever an escape sequence is used in simc it gets recognised as a string rather than a character.This further throws an error in c when a character literal is being compared.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
The null character should be converted to a character rather than a string i.e. ('\0' instead of "\0").

[2020-10-09 17:45] lucasace commented on #243
I think I can fix this

[2020-10-09 20:18] frankhart2018 commented on #243
Sure @lucasace. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-10 13:29] dhairyaj commented on #233
Merged

[2020-10-10 13:29] #233 closed

[2020-10-10 16:21] ilyasmg commented on #30
I went through the codebase.
I'm a bit confused..in lexical_analyzer I added "int" in the is_keyword() function
then in simc_parser.py inside the parser() function I added
`elif tokens[i].type == "int":
            op_value, op_type, i, func_ret_type = expression(...)`
And in the compiler.py I added
[code]
When I run an example I get "Error: Expected 0 parameters but got 1 parameters in function i

[2020-10-10 19:20] frankhart2018 commented on #30
Mostly the error is because you installed using the code in this main repository, and in that int isn't a keyword so it is getting identified as an identifier and hence as a function later. To use a development version of simc (for your code), follow these steps (you should be inside sim-c repository to execute the second command):-

[code]

[2020-10-10 19:22] frankhart2018 commented on #235
Merged, thanks for your contribution @Nazarchamp.

[2020-10-10 19:22] #235 closed

[2020-10-11 09:41] dmte commented on #231
Hi! I'd like to give this question a try! Thank you!

[2020-10-11 09:50] frankhart2018 commented on #231
Sure @dmte. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-11 11:59] ilyasmg commented on #30
Hi thanks,
I'm getting `Error: Required expression after assignment operator` for the second token `var` (int_i) in the `var_statement()` function..I had a look but I'm not sure if I need to modify something there..`# Check if expression follows = in var statement` is causing the problem.
Not sure if I'll finish in a week, I'm not finding it very easy this task D:

[2020-10-11 12:00] frankhart2018 commented on #231
Merged, thanks for your contribution @dmte.

[2020-10-11 12:00] #231 closed

[2020-10-11 12:01] ilyasmg commented on #165
you forgot to close :P

[2020-10-11 12:01] frankhart2018 commented on #30
If you need more time you can take one more week.

[2020-10-11 12:01] frankhart2018 commented on #165
Thanks for pointing out @ilyasmg.

[2020-10-11 12:01] #165 closed

[2020-10-11 12:33] ilyasmg commented on #30
I should also update the symbol table right?

[2020-10-11 15:35] TheYk98 commented on #232
lemme pick this up

[2020-10-11 17:07] frankhart2018 commented on #232
Sure @TheYk98. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-12 14:34] dmte commented on #94
I'd like to give this a try.

[2020-10-12 15:38] jianajavier commented on #95
I can work on this. Can you assign to me please?

[2020-10-12 15:40] #243 closed

[2020-10-12 15:40] frankhart2018 commented on #243
Merged, thanks for your contribution @lucasace.

[2020-10-12 15:40] jianajavier commented on #228
I can work on this. Can you assign to me please?

[2020-10-12 15:41] frankhart2018 commented on #94
Sure @dmte. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-12 15:44] frankhart2018 commented on #95
Sure @jianajavier. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-12 15:46] frankhart2018 commented on #228
Sure @jianajavier. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-12 16:23] jianajavier commented on #228
@frankhart2018 PR is here: https://github.com/cimplec/sim-c/pull/249

[2020-10-12 17:04] jianajavier commented on #95
@frankhart2018 PR is here: https://github.com/cimplec/sim-c/pull/250. Thanks!

[2020-10-13 02:25] vsawal commented on #230
Hi @frankhart2018 ,
Can I try to attempt it, please?

[2020-10-13 05:05] vsawal commented on #170
I would like to work on this feature. Thanks.

[2020-10-13 05:32] vsawal commented on #230
What do you mean by "divisible by 3 and 7 but does not include numbers divisible by both"? Do you mean "3 or 7"? To better understand the question, can you please provide some examples?

[2020-10-13 05:53] frankhart2018 commented on #230
Hey @vsawal this question means to list out numbers with are either divisible by 3 or 7 but not both of them, examples are:- 3, 14, but not 21. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-13 05:57] frankhart2018 commented on #170
Sure @vsawal. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-13 15:47] Math-O5 commented on #227
I'm start learning Open-Source and now Sim-C, can I try it? #HackToberFest2020

[2020-10-13 15:49] Math-O5 commented on #79
Can I do this @frankhart2018 ?

[2020-10-13 19:38] frankhart2018 commented on #227
Sure @Math-O5. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-13 19:40] frankhart2018 commented on #79
Sure @Math-O5. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-14 03:13] lucasace opened #257 "[BUG REPORT] return statement outside function definition"
**Describe the bug**
Simc allows for return function to be outside function definition scope

**To Reproduce**
simc code:
[code]
c code generated:
[code]
**Expected behavior**
 should give error stating return function used outside function definition

**Desktop (please complete the following information):**
 - OS: Ubuntu Linux

[2020-10-14 03:51] vsawal commented on #173
Can I work on this feature?

[2020-10-14 03:52] vsawal commented on #171
Can I work on this feature?

[2020-10-14 04:58] vsawal commented on #168
Can I work on this feature, please?

[2020-10-14 13:34] YJDoc2 commented on #257
I would like to work on this

[2020-10-14 14:56] frankhart2018 commented on #257
Sure @YJDoc2. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-14 14:59] frankhart2018 commented on #173
Sure @vsawal. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-14 15:00] frankhart2018 commented on #171
Sure @vsawal. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-14 15:00] frankhart2018 commented on #168
Sure @vsawal. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-15 03:35] YJDoc2 commented on #257
Is one allowed to give custom return statement in main function or not?

[2020-10-15 04:10] frankhart2018 commented on #230
Merged, thanks for your contribution @vsawal.

[2020-10-15 04:10] #230 closed

[2020-10-15 04:14] frankhart2018 commented on #168
Merged, thanks for your contribution @vsawal.

[2020-10-15 04:14] #168 closed

[2020-10-15 04:15] frankhart2018 commented on #257
It is not part of the current version, you are welcome to add that.

[2020-10-15 08:10] YJDoc2 commented on #257
Hey I have added the checks and support for return statement, but when I was running tests, I am getting ImportError :
`ImportError: bad magic number in 'op_code': b'\x03\xf3\r\n'` . I had some issued while running the code as well and had to make changes in the import syntax to make it run. This would probably be due to my setup, but other than that I have run the updated code for checking and va

[2020-10-15 16:45] vsawal commented on #228
Can I work on this feature, please?

[2020-10-15 20:02] frankhart2018 commented on #228
Sure @vsawal. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-16 01:10] vsawal commented on #228
Thanks. Even though it hasn't been assigned yet, I'm assuming you will. hence I've created a PR for it.

[2020-10-16 06:25] puranjaymohan commented on #169
@frankhart2018 I would like to work on this if it is not assigned.

[2020-10-16 06:26] puranjaymohan commented on #95
@frankhart2018 I would like to work on this.

[2020-10-16 06:28] puranjaymohan commented on #174
@frankhart2018 I would like to work on this.

[2020-10-16 06:56] frankhart2018 commented on #228
Merged, thanks for your contribution @vsawal.

[2020-10-16 06:56] #228 closed

[2020-10-16 06:58] frankhart2018 commented on #169
Sure @puranjaymohan. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-16 06:59] frankhart2018 commented on #95
Sure @puranjaymohan. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-16 06:59] frankhart2018 commented on #174
Sure @puranjaymohan. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-16 12:36] frankhart2018 opened #264 "[FEATURE] Write simC code for question 85"
**Question**

Given a number, check whether it is sum of two whole squares.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q85.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-16 12:36] frankhart2018 opened #265 "[FEATURE] Write simC code for question 86"
**Question**

Print the elements of fibonacci series which lie in even places.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q86.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task.

[2020-10-16 12:36] frankhart2018 opened #266 "[FEATURE] Write simC code for question 87"
**Question**

Check whether taxi cab number is valid or not (check logic from GeeksForGeeks).

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q87.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complet

[2020-10-16 12:36] frankhart2018 opened #267 "[FEATURE] Write simC code for question 88"
**Question**

Check if a person is allowed to vote (age > 18, age < 65).

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q88.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-16 12:37] frankhart2018 opened #268 "[FEATURE] Write simC code for question 89"
**Question**

Check if aadhar card number is valid or not (12 digits).

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q89.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-16 12:37] frankhart2018 opened #269 "[FEATURE] Write simC code for question 90"
**Question**

Print Ireland flag (use @ for green, - for white, and # for orange).

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q90.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her t

[2020-10-16 12:37] frankhart2018 opened #270 "[FEATURE] Write simC code for question 91"
**Question**

Check if number contains three adjacent increasing digits or not.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q91.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task

[2020-10-16 12:37] frankhart2018 opened #271 "[FEATURE] Write simC code for question 92"
**Question**

Convert km/h to miles/h.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q92.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-16 12:37] frankhart2018 opened #272 "[FEATURE] Write simC code for question 93"
**Question**

Convert degree celsius to fahrenheit.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q93.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-16 12:37] frankhart2018 opened #273 "[FEATURE] Write simC code for question 94"
**Question**

Convert cm to feet and inches.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q94.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-16 13:34] vincent-vimard commented on #271
Hi, can you assign me this issue please ?

[2020-10-16 13:37] frankhart2018 commented on #271
Sure @vincent-vimard. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-16 14:04] vsawal commented on #272
Can I work on this feature please?

[2020-10-16 14:04] vsawal commented on #267
Can I work on this feature, please?

[2020-10-16 14:29] dhairyaj commented on #272
Sure @vsawal , assigining this to you.

[2020-10-16 14:29] dhairyaj commented on #267
sure @vsawal , assigining this to you.

[2020-10-16 15:41] frankhart2018 commented on #267
Merged, thanks for your contribution @vsawal.

[2020-10-16 15:41] #267 closed

[2020-10-16 19:02] frankhart2018 commented on #271
Merged, thanks for your contribution @vincent-vimard.

[2020-10-16 19:02] #271 closed

[2020-10-16 19:04] frankhart2018 commented on #169
Merged, thanks for your contribution @puranjaymohan.

[2020-10-16 19:04] #169 closed

[2020-10-16 19:08] frankhart2018 commented on #95
Merged, thanks for your contribution @puranjaymohan.

[2020-10-16 19:08] #95 closed

[2020-10-16 19:15] frankhart2018 commented on #272
Merged, thanks for your contribution @vsawal.

[2020-10-16 19:15] #272 closed

[2020-10-17 05:41] puranjaymohan commented on #32
@frankhart2018 I guess we should implement all the bitwise operators and use the standard C syntax.
&, |, <<, >>, ^, ~.
I would like to work on this. I will start by studying the implementation of other operators.

[2020-10-17 11:05] frankhart2018 commented on #174
Merged, thanks for your contribution @puranjaymohan.

[2020-10-17 11:05] #174 closed

[2020-10-17 11:07] frankhart2018 commented on #32
Yeah @puranjaymohan retaining C's syntax will be best for operators. Assigning this to you.

[2020-10-17 17:57] alins1r commented on #270
sir i can do it for you if you lend it to me

[2020-10-17 18:40] alins1r commented on #273
hi sir i can write it just say you want a function (def) or an script get cm as input???

[2020-10-17 18:43] alins1r commented on #268
hi whats up :) sir i can do it plz give it to me and say what should i print for valid and also invalid number??? and plz say you want a function (def) or an script get cm as input???

[2020-10-17 19:33] frankhart2018 commented on #270
Sure @alins1r. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-17 19:35] frankhart2018 commented on #273
Sure @alins1r. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-17 19:38] frankhart2018 commented on #268
Sure @alins1r. Assigning this to you. Thanks for showing interest to contribute. No need of a function, a simple code will be enough. And for valid/invalid you can just print that - "Valid" and "Invalid" that is more than enough.

[2020-10-17 20:08] alins1r opened #281 "[BUG REPORT]"
the q2.simc doesn't compile to q2.c

Steps to reproduce the behavior:
1. Go to sim-c/simc-codes
2. Type simc q2.simc
3. It say [Line 3] Error: Cannot find the type of Enter

Right now you see the error

Desktop
 - OS: kali linux - live persistent mode

[2020-10-17 20:12] alins1r opened #283 "[BUG REPORT]"
the q5.simc doesn't compile to q2.c

Steps to reproduce the behavior:

    Go to sim-c/simc-codes
    Type simc q5.simc
    It say [Line 2] Error: Cannot find the type of Enter

Right now you see the error

Desktop

    OS: kali linux - live persistent mode

[2020-10-17 20:15] frankhart2018 commented on #281
Fixed, thanks for reporting this error @alins1r.

[2020-10-17 20:15] #281 closed

[2020-10-17 20:17] frankhart2018 commented on #283
Fixed, thanks for reporting the bug @alins1r.

[2020-10-17 20:17] #283 closed

[2020-10-18 12:17] vnksnkr commented on #265
@frankhart2018 I would like to do this :)

[2020-10-18 15:38] #257 closed

[2020-10-18 15:38] frankhart2018 commented on #257
Merged, thanks for your contribution @YJDoc2.

[2020-10-18 15:40] frankhart2018 commented on #265
Sure @vnksnkr. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-18 15:59] GursimranHeer commented on #264
Hello, can you please assign me this?

[2020-10-18 16:00] frankhart2018 commented on #264
Sure @GursimranHeer assigning this to you. Thanks for showing interest to contribute.

[2020-10-18 19:19] alins1r opened #287 "[BUG REPORT]"
when write a simc and compile to C with if else if and else the compiler forgot to add } at the end of else

1. Go and create a simc file with if else and else if statements
2. Compile it with simc
3. Compile C file with gcc
4. See error

Now you see this error :
q94.c: In function ‘main’:
q94.c:25:1: error: expected declaration or statement at end of input
   25 | }
      | ^

Desktop :
 - OS kal

[2020-10-18 19:46] frankhart2018 commented on #287
Can you provide the simc code too @alins1r. Thanks :)

[2020-10-18 19:50] #287 closed

[2020-10-18 19:51] alins1r commented on #287
sorry that was a my mistake im so sorry i forgot to close the else

[2020-10-19 01:24] melsaa commented on #269
Hi, I'd like to work on this issue.

[2020-10-19 11:47] frankhart2018 commented on #265
Merged, thanks for your contribution @vnksnkr.

[2020-10-19 11:47] #265 closed

[2020-10-19 11:51] frankhart2018 commented on #264
Merged, thanks for your contribution @GursimranHeer.

[2020-10-19 11:51] #264 closed

[2020-10-19 11:52] frankhart2018 commented on #269
Sure @melsaa. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-19 13:12] GursimranHeer commented on #232
Hey, I would like to work on this. Can you please assign it to me?

[2020-10-19 13:18] GursimranHeer commented on #266
Could you please assign me this issue?

[2020-10-19 13:28] frankhart2018 commented on #266
Sure @GursimranHeer. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-19 13:30] frankhart2018 commented on #232
Sure @GursimranHeer. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-19 15:56] #269 closed

[2020-10-19 15:56] frankhart2018 commented on #269
Merged, thanks for your contribution @melsaa.

[2020-10-19 16:34] GursimranHeer commented on #266
Is there a way to declare sets in simc?

[2020-10-19 16:37] frankhart2018 commented on #266
No there isn't as of now @GursimranHeer.

[2020-10-19 16:38] GursimranHeer commented on #266
Can we declare arrays?

[2020-10-19 16:38] GursimranHeer commented on #266
Because without that it'll be difficult to solve this problem.

[2020-10-19 16:42] frankhart2018 commented on #266
We are working in arrays :). I don't think you need them though, please check this:- https://www.geeksforgeeks.org/taxicab-numbers

[2020-10-19 16:46] GursimranHeer commented on #266
Okay, I get it now.
I assumed, user will input a number and we have to check whether its a taxicab number or not.
Did not know we have to take N as input, where N means, the first N taxicab numbers.
Thank you for clarification:)

[2020-10-19 22:28] GursimranHeer commented on #234
Can I please be assigned this?

[2020-10-20 04:04] frankhart2018 commented on #232
Merged, thanks for your contribution @GursimranHeer.

[2020-10-20 04:04] #232 closed

[2020-10-20 04:08] frankhart2018 commented on #266
Merged, thanks for your contribution @GursimranHeer.

[2020-10-20 04:08] #266 closed

[2020-10-20 04:08] frankhart2018 commented on #234
Sure @GursimranHeer. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-20 10:36] himanshisinghal09 commented on #50
Can I please be assigned this?

[2020-10-20 10:51] himanshisinghal09 commented on #77
can I please be assigned this

[2020-10-20 10:51] himanshisinghal09 commented on #170
can I please be assigned this

[2020-10-20 10:52] himanshisinghal09 commented on #171
can I please be assigned this

[2020-10-20 11:51] frankhart2018 commented on #273
Merged, thanks for your contribution @alins1r.

[2020-10-20 11:51] #273 closed

[2020-10-20 11:52] frankhart2018 commented on #171
Sure @himanshisinghal09. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-20 11:53] frankhart2018 commented on #170
Sure @himanshisinghal09. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-20 11:54] frankhart2018 commented on #50
Sure @himanshisinghal09. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-20 11:55] frankhart2018 commented on #77
Sure @himanshisinghal09. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-20 12:00] frankhart2018 commented on #234
Merged, thanks for your contribution @GursimranHeer.

[2020-10-20 12:00] #234 closed

[2020-10-21 04:35] vnksnkr commented on #173
I would like to do this :)

[2020-10-21 13:14] frankhart2018 commented on #173
Sure @vnksnkr. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-21 23:26] Math-O5 commented on #79
I'm having trouble to store the value concatenated without using raw C. The issue ask for just print or store it too? I have read a about #33  Dynamic memory, so it's really impossible at the time, right?

Sorry for the basic question.

[2020-10-22 01:32] Math-O5 commented on #227
@frankhart2018 I found this has no solution. There are seven unknowns (three single-language, three double-language, and one no-language), which are all non-negative percentages. However there is only five simultaneous equations.

am I wrong? If not, the answer is tell there is no answer?

[2020-10-22 01:48] Math-O5 commented on #227
My answer end this way #298

Am I wrong?

[2020-10-22 12:41] frankhart2018 commented on #173
Merged, thanks for your contribution @vnksnkr.

[2020-10-22 12:41] #173 closed

[2020-10-22 12:49] frankhart2018 opened #300 "[FEATURE] Write simC code for question 95"
**Question**

Test if a two variables strictly lie between 0 and 1.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q95.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-22 12:49] frankhart2018 opened #301 "[FEATURE] Write simC code for question 96"
**Question**

Convert kg to pound.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q96.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-22 12:49] frankhart2018 opened #302 "[FEATURE] Write simC code for question 97"
**Question**

Sum of AP (Arithmetic Progression).

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q97.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-22 12:49] frankhart2018 opened #303 "[FEATURE] Write simC code for question 98"
**Question**

Sum of GP (Geometric Progression).

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q98.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-22 12:49] frankhart2018 opened #304 "[FEATURE] Write simC code for question 99"
**Question**

Harmonic Mean

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q99.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-22 12:50] frankhart2018 opened #305 "[FEATURE] Write simC code for question 100"
**Question**

Find the second number when HCF, LCM and first number is given.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q100.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task.

[2020-10-22 12:50] frankhart2018 opened #306 "[FEATURE] Write simC code for question 101"
**Question**

Divide two numbers using only subtraction (-) operator.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q101.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-22 12:50] frankhart2018 opened #307 "[FEATURE] Write simC code for question 102"
**Question**

Multiply two numbers without using multiplication (*) operator.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q102.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task.

[2020-10-22 12:50] frankhart2018 opened #308 "[FEATURE] Write simC code for question 103"
**Question**

Find the square root of a number.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q103.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-10-22 12:50] frankhart2018 opened #309 "[FEATURE] Write simC code for question 201"
**Question**

Calculate modulo of two numbers without using the inbuilt modulo operator (%), second method.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q201.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person d

[2020-10-22 13:05] agarwalamn commented on #300
Hey @frankhart2018 , I really loved the concept and would love to sim-c, can I take over this issue, would love to study conditional statements in sim-c.

[2020-10-22 13:15] rahulhambarde300 commented on #301
Hello, can you assign this task to me?

[2020-10-22 13:46] frankhart2018 commented on #300
Sure @adenashameem. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-22 13:48] frankhart2018 commented on #301
Sure @rahulhambarde300. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-22 15:11] dhairyaj commented on #227
You can assume a fixed total number of students, for example like 100 or 1000. And then use the venn diagram approach to find the final answers or equations, whichever you are comfortable with

[2020-10-22 15:49] rahulhambarde300 commented on #301
#313 I've added the code .

[2020-10-22 15:50] rahulhambarde300 commented on #301
#313

[2020-10-22 16:55] Math-O5 commented on #302
Since I've trouble for the q34, which I think need memory allocation be defined, I'll apply for this one too.

[2020-10-22 17:05] GursimranHeer commented on #303
Can I please be assigned this?

[2020-10-22 17:18] prasannassp commented on #308
I like to do it.. please assign it to me.

[2020-10-22 18:36] frankhart2018 commented on #300
Merged, thanks for your contribution @agarwalamn.

[2020-10-22 18:36] #300 closed

[2020-10-22 18:38] frankhart2018 commented on #308
Sure @prasannassp. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-22 18:39] frankhart2018 commented on #303
Sure @GursimranHeer. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-22 18:44] frankhart2018 commented on #302
There is no limit on the number of questions a person can do @Math-O5, you can do as many as you like. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-22 18:47] frankhart2018 commented on #79
An easy but inefficient way to do this will be to loop through each character of both strings and create a third string to concatenate both of these.

[2020-10-23 02:57] rahulhambarde300 commented on #307
I'll like to work on this task . Please assign this to me @frankhart2018 .

[2020-10-23 07:12] frankhart2018 commented on #301
Merged, thanks for your contribution @rahulhambarde300.

[2020-10-23 07:12] #301 closed

[2020-10-23 08:12] frankhart2018 commented on #307
Sure @rahulhambarde300. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-23 19:21] Math-O5 commented on #309
I would like to try this one!

[2020-10-23 20:06] MarcusAldrey commented on #306
Hi, i tried to solve it, but i got this error when running the simc file

`Traceback (most recent call last):
  File "C:\Python38\Scripts\simc-script.py", line 11, in <module>
    load_entry_point('simc==0.1a2', 'console_scripts', 'simc')()
  File "c:\python38\lib\site-packages\simc\simc.py", line 36, in run
    tokens = lexical_analyze(filename, table)
  File "c:\python38\lib\site-packages\simc\l

[2020-10-24 09:22] aminasadiam commented on #306
hi @frankhart2018, May I work on this?

[2020-10-24 11:33] frankhart2018 commented on #307
Merged, thanks for your contribution @rahulhambarde300.

[2020-10-24 11:33] #307 closed

[2020-10-24 11:36] frankhart2018 commented on #302
Merged, thanks for your contribution @Math-O5.

[2020-10-24 11:36] #302 closed

[2020-10-24 11:36] frankhart2018 commented on #309
Sure @Math-O5. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-24 11:38] frankhart2018 commented on #306
Hey @MarcusAldrey can you post the code that you used? That will be useful to look into the issue further. Thanks.

[2020-10-24 16:28] Yash5044 commented on #304
Hey I would like to address this problem

[2020-10-24 16:38] Yash5044 commented on #79
Hey can I address this issue?

[2020-10-24 16:41] Math-O5 commented on #227
@frankhart2018 I already solved this on paper, it take me time to solve, can I be reassigned?

[2020-10-24 18:15] lucasace commented on #202
Could I take this up?
[code]
This are the constants I plan to add

Corresponding names are
[code]

Do tell If any more are needed

Reference : https://pubs.opengroup.org/onlinepubs/009695399/basedefs/math.h.html

[2020-10-24 19:14] frankhart2018 commented on #303
Merged, thanks for your contribution @GursimranHeer.

[2020-10-24 19:14] #303 closed

[2020-10-24 19:15] frankhart2018 commented on #304
Sure @Yash5044. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-24 19:18] frankhart2018 commented on #227
Ok, complete it this time.

[2020-10-24 19:20] frankhart2018 commented on #79
Sure @Yash5044. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-24 19:44] GursimranHeer commented on #305
Can I please be assigned this?

[2020-10-24 19:56] dhairyaj commented on #50
Merged.

[2020-10-24 19:56] #50 closed

[2020-10-24 19:57] dhairyaj commented on #171
Merged.

[2020-10-24 19:57] #171 closed

[2020-10-24 19:58] dhairyaj commented on #170
Merged.

[2020-10-24 19:58] #170 closed

[2020-10-24 19:59] dhairyaj commented on #77
Merged.

[2020-10-24 19:59] #77 closed

[2020-10-25 09:00] PranshulDobriyal commented on #202
@lucasace We do not think it is necessary to add all these constants as many of them can be easily derived by using arithmetic operations. However, we would like to suggest the addition of the following constants in SimC -
e = Euler's Number
pi
inf = max possible int value
-inf = smallest possible int value

Please let us know if you are interested in taking up this issue.

[2020-10-25 09:49] lucasace commented on #202
Yes I am , As the issue stated constants I naturally thought of math constants,
Are these all , or do you need more constants like tau as mentioned in the issue?
If yes, Kindly give me a list of all those that need to be added

[2020-10-25 09:52] PranshulDobriyal commented on #202
@lucasace These will be all. Assigning the issue to you. Looking forward to your contribution

[2020-10-25 20:15] frankhart2018 commented on #305
Sure @GursimranHeer. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-26 13:19] #202 closed

[2020-10-26 13:19] frankhart2018 commented on #202
Merged, thanks for your contribution @lucasace.

[2020-10-26 15:02] dhairyaj commented on #79
Merged.

[2020-10-26 15:02] #79 closed

[2020-10-26 15:03] dhairyaj commented on #304
Merged.

[2020-10-26 15:03] #304 closed

[2020-10-26 22:33] Math-O5 commented on #270
Can I be assigned?

Checking what is expected:
Input: 9876782
Output: Yes, "678"

Input: 987682
Output: No

[2020-10-29 21:26] JordyAraujo commented on #306
Can I please be assigned to this one?

[2020-10-29 21:44] MarcusAldrey commented on #306
sorry, that was a typo in the code, i'm opening the pull request

[2020-11-01 18:49] #227 closed

[2020-11-01 18:49] frankhart2018 commented on #227
Merged, thanks for your contribution @Math-O5.

[2020-11-01 18:51] #309 closed

[2020-11-01 18:51] frankhart2018 commented on #309
Merged, thanks for your contribution @Math-O5.

[2020-11-01 18:54] frankhart2018 commented on #305
Merged, thanks for your contribution @GursimranHeer.

[2020-11-01 18:54] #305 closed

[2020-11-01 18:59] #172 closed

[2020-11-01 19:00] #167 closed

[2020-11-01 19:00] #166 closed

[2020-11-01 19:02] #94 closed

[2020-11-01 19:03] #81 closed

[2020-11-01 19:03] #35 closed

[2020-11-06 15:23] aminasadiam commented on #306
hi @frankhart2018, May I work on this now?

[2020-11-06 19:08] frankhart2018 commented on #306
Sure, assigning this to you.

[2020-11-06 19:47] aminasadiam commented on #306
dear @frankhart2018, I hit pull request but I do not know why he did not come here.

[2020-11-21 18:39] Math-O5 commented on #190
@frankhart2018 Can you assign my team on this issue?@JNagasava  @MarcusMedeiros99 and me

[2020-11-21 18:42] MarcusMedeiros99 commented on #31
May I get assigned to this issue?

[2020-11-21 18:45] Math-O5 commented on #27
@frankhart2018  Can I be assigned?

[2020-11-21 18:46] frankhart2018 commented on #190
Hey @Math-O5 sure. Now that hacktoberfest is over, the time is also not constrained to 7 days. Assigning to all of you.

[2020-11-21 18:49] JNagasava commented on #29
Hey, can you assign me on this issue ?

[2020-11-21 18:50] frankhart2018 commented on #31
Sure @MarcusMedeiros99. Thanks for showing interest to contribute.

[2020-11-21 18:51] frankhart2018 commented on #27
Sure @Math-O5. Thanks for showing interest to contribute.

[2020-11-21 18:51] frankhart2018 commented on #29
Sure @JNagasava. Thanks for showing interest to contribute.

[2020-11-22 23:01] Math-O5 commented on #26
@frankhart2018 May I try this one?

[2020-11-23 21:47] Math-O5 opened #342 "[BUG REPORT] Functions Allow declaration of braces in same line"
**Describe the bug**
Functions can not be declared with braces in the same line of declaration showed in documentation

**To Reproduce**

Try:

[code]
Throw an error, expected new line after sum(), but it should be allowed.

To success, the code must be as:
[code]

What must change?
Allow this declaration of the documentation too. Or at least change documentation.

[2020-11-23 21:49] Math-O5 commented on #342
@frankhart2018 May I be assigened? huehue

[2020-11-24 16:18] Math-O5 commented on #308
@frankhart2018 May I be assigned? I'd like ask for use the math.h lib, or is the purpose use an method approximation?

[2020-11-26 20:33] #26 closed

[2020-11-26 20:33] #190 closed

[2020-11-26 20:44] frankhart2018 commented on #342
Thanks for reporting this issue @Math-O5. Sure assigning this to you.

[2020-11-26 20:45] #268 closed

[2020-11-26 20:45] #270 closed

[2020-11-26 20:45] #306 closed

[2020-11-26 20:45] #308 closed

[2020-11-30 14:53] #342 closed

[2020-12-04 20:18] #66 closed

[2020-12-04 20:36] dhairyaj opened #344 "[FEATURE] Array declaration (static array)"
**Describe the solution you'd like**
Array declaration with or without assignment.

<strong>Syntax</strong>
Without assignment :
var <array_name>[<size>]

<strong>Syntax</strong>
With assignment :
array <array_name>[<size>] = {values separated by commas(,)}

[2020-12-04 20:38] dhairyaj opened #345 "[FEATURE] Array Assignment (static array)"
**Describe the solution you'd like**
Array assignment for an already declared array.

<strong>Syntax</strong>
<array_name> = {values separated by commas(,)}

<strong>Example</strong>
[code]

**Hint:** C does not support this initialization, you should translate the initialization in a for-loop or use pointers as suggested [stack possible-to-initialize-an-array-after-the-declaration-in-c]( https://

[2020-12-04 20:41] dhairyaj opened #346 "[FEATURE] Array indexing - right side (static array)"
**Describe the solution you'd like**
Indexing an array when in right hand side of expression. Changes to be made in expression function.

<strong>Syntax</strong>
<array_name>[index]

**Example**
var a = arr[0]

[2020-12-05 02:19] Gaurav7888 commented on #33
@frankhart2018 Hi I want to work upon this issue.
will use malloc for this purpose..

[2020-12-05 02:21] Gaurav7888 commented on #30
@frankhart2018  Hi I want to work upon this issue.

[2020-12-05 03:49] Chasmiccoder opened #347 "Errors during compilation result terminal text changing color to RED"
**Decription of the Bug**
When a .simc file successfully gets compiled to form its respective .c file, the terminal text color changes to GREEN.
When the compiler encounters an error, it turns the terminal text color to RED. This behaviour is seen when the instructions
are carried out via VS Code's inbuilt terminal. When we try this in cmd, this error is not there.

**Steps to Reproduce the Bug**

[2020-12-05 04:51] Math-O5 commented on #345
@dhairyaj May I be assigned? (Planning start only 15 December, but I'd like to do this).

[2020-12-05 04:52] Math-O5 commented on #344
@dhairyaj May I be assigned? (Planning start only 15 December, but I'd like to do this).

[2020-12-05 05:11] Math-O5 commented on #347
I suggest to resolve this printing "\e[m\n" at end, if the colors are produced by printing ASCII values at begging  of string.

[2020-12-05 07:38] Chasmiccoder opened #349 "simc fails to add reference address when input is not specified with data type"
**Description of the Bug**
According to the documentation, if the test.simc file contains an input line like this:
var a = input( )
Then, the type selected will be string. However, during compilation, the test.c file does not accept the input successfully.

**To Reproduce the Bug**
Steps to reproduce the behavior:
1. In test.simc, write the line: **var a = input( )**
2. Run the simc compiler to cr

[2020-12-05 11:55] frankhart2018 commented on #347
@Math-O5 I think it should be, \033[m. Refer to this:- https://www.instructables.com/Printing-Colored-Text-in-Python-Without-Any-Module/

[2020-12-05 14:28] Chasmiccoder commented on #183
I think this is because the C compiled code is using the scanf( ) statement incorrectly. Instead of
scanf( "%s", &i);
we are getting:
scanf("%s", i );

![image](https://user-images.githubusercontent.com/62545147/101245644-3b70b000-3734-11eb-8586-bb67c84bb0b2.png)

[2020-12-05 15:11] frankhart2018 commented on #30
Sure assigning this to you @Gaurav7888. Thanks for showing interest to contribute.

[2020-12-05 15:12] frankhart2018 commented on #33
@Gaurav7888 please mention the syntax here, once that is approved I or any other maintainer can assign you to this.

[2020-12-05 15:14] frankhart2018 commented on #183
You can take up this issue @Chasmiccoder.

[2020-12-05 15:15] Gaurav7888 commented on #33
Like (pointer type ) malloc(sizeof() )
This is in general syntax gonna use .

[2020-12-05 15:16] frankhart2018 commented on #33
DMA includes allocating, reallocating, and deleting.

@Aayush-99 @PranshulDobriyal

[2020-12-05 15:17] frankhart2018 commented on #349
Seems to be a duplicate of #183. Closing this.

[2020-12-05 15:17] #349 closed

[2020-12-05 15:17] Gaurav7888 commented on #33
Free() could be used.

[2020-12-05 16:37] Chasmiccoder commented on #183
Okay. I will try. @frankhart2018

[2020-12-05 17:46] basilisk-2001 commented on #345
@dhairyaj   I'm ready to do this thing . I can start from 6 December

[2020-12-05 17:55] basilisk-2001 commented on #344
@dhairyaj  I'm ready to contribute . I can start from 6 December .

[2020-12-05 18:19] frankhart2018 commented on #183
Assigning this to you @Chasmiccoder.

[2020-12-05 18:23] frankhart2018 commented on #344
Sure assigning to both of you @Math-O5 @basilisk-2001.

[2020-12-05 18:24] frankhart2018 commented on #345
Sure assigning this to both of you @Math-O5 @basilisk-2001

[2020-12-05 19:09] Math-O5 commented on #344
@basilisk-2001 Please, consider continue from [my branch in-344](https://github.com/Math-O5/sim-c/tree/in-344)

[2020-12-05 19:14] shobhit10058 opened #350 "[BUG REPORT] simc test.c gives an unexpected error"
**Description of the bug**
when simc is run with a file not with .simc extension it gives an unexpected error
[code]
NameError should not come.

**Steps To Reproduce**
simply run simc test.c.

**Expected behavior**
It should simply give Incorrect file extension

[2020-12-05 19:15] shobhit10058 commented on #350
We can simply fix it by removing line_num with -1 or something.

[2020-12-05 19:42] frankhart2018 commented on #350
Hey thanks @shobhit10058 for submitting the bug report, do you want to work on this?

[2020-12-05 19:52] Math-O5 commented on #347
@frankhart2018 Sorry, I forgot ask for the task.

[2020-12-05 19:54] shobhit10058 commented on #350
yes

[2020-12-05 19:55] shobhit10058 commented on #350
I think the suggestion is enough, so should I add it -1.

[2020-12-05 19:57] #347 closed

[2020-12-05 19:57] frankhart2018 commented on #347
No issues :)

[2020-12-05 19:58] frankhart2018 commented on #350
Yeah that would work, assigning this to you.

[2020-12-05 21:05] frankhart2018 commented on #350
Merged.

[2020-12-05 21:05] #350 closed

[2020-12-06 08:38] 4shw4n1 commented on #345
@dhairyaj  I think I can fix this issue. Could you please assign this to me also?

[2020-12-06 09:13] frankhart2018 commented on #345
Sure assigning this to you too @4shw4n1.

[2020-12-06 13:05] frankhart2018 opened #353 "[FEATURE] Change implementation of input in parser"
**Describe the solution you'd like**
Currently input is considered part of expression function (which makes sense) but when it loses its identity when opcodes are created. For example:-

The simc line - `var a = input("Enter a number: ", "i")`, produces the opcode - `OpCode('var_assign', 'a---Enter a number: ---i', 'int')`.

If we could add the input to either the type or the value then it would m

[2020-12-06 13:47] lolzone13 commented on #27
So, in this issue, after every code block statement (like if), we have to check for spaces and enter braces accordingly right?

[2020-12-06 13:50] frankhart2018 commented on #27
No I guess you misunderstood @lolzone13. What this issue means is C allows code without a { } for block statements like if or else or loops when there is only a single statement in that block. For eg:-

if(1 == 2)
    printf("Hello World")

This is something which C allows but simC doesn't at this moment.

**Hint**: The change has to be made only in simc_parser.py :)

[2020-12-06 13:53] lolzone13 commented on #27
So I can check if the code block has a single statement and then I can make the changes right?

[2020-12-06 13:54] frankhart2018 commented on #27
Yeah. Do you want to take this?

[2020-12-06 13:54] lolzone13 commented on #27
Yeah, I'll give it a shot.

[2020-12-06 13:55] frankhart2018 commented on #27
Sure assigning this to you too, you can checkout #341 created by @Math-O5 who is also working on this to get started.

[2020-12-06 17:16] Saptashrungi commented on #149
I would like to work on this issue, some minor changes will be required, I will suggest a solution for this tomorrow.

[2020-12-07 02:35] sahmed007 commented on #353
Hi, can I work on this feature?

[2020-12-07 07:33] frankhart2018 commented on #149
Sure assigning this to you @Saptashrungi.

[2020-12-07 07:33] frankhart2018 commented on #353
Sure assigning this to you @sahmed007.

[2020-12-07 08:31] basilisk-2001 commented on #344
@dhairyaj  @frankhart2018  The aim of this issue is still unclear to me . Can you please explain ? And I need to understand simC , suggest me some resource.

[2020-12-07 12:02] Math-O5 commented on #344
@basilisk-2001 Read the section contributing in README [here](https://github.com/cimplec/sim-c/blob/master/README.md)

[2020-12-07 12:21] shobhit10058 commented on #32
I see that a&b is converted as it is but a|b is not because it is by default assumed in the code that | comes with | only. so b is replaced by | and lastly ^ is working for xor as ^ is used for power. So, I format should be
a AND b
a OR b
a XOR b
These do  not conflict with existing one. Parsing could be done differently for these but still they need to handled like other binary operators

[2020-12-07 12:21] shobhit10058 commented on #32
I would like to work on it.

[2020-12-07 12:56] frankhart2018 commented on #32
@shobhit10058 AND, OR, XOR is confusing as users might think it is normal AND, OR, XOR and not bitwise versions of these operators. I believe retaining C's syntax of & (Bitwise and), | (Bitwise or), and ^ (Bitwise xor) will be best. Do let me know if you think otherwise 😄

[2020-12-07 12:59] frankhart2018 commented on #344
Thanks @Math-O5. @basilisk-2001 the issue is for declaration of an array. Take a look at variable declaration in simc_parser.py, things might seem clearer after that.

[2020-12-07 13:02] PranshulDobriyal commented on #33
@Gaurav7888  What syntax do you propose for the same in SimC ?

[2020-12-07 13:12] Gaurav7888 commented on #33
@PranshulDobriyal  cpython  have some functions to do abv things .

[2020-12-07 13:29] PranshulDobriyal commented on #33
@Gaurav7888 Yes that will explain the backend of the desired functions, but what front-end (syntax in simC) do you propose.
For ex-
front-end (SimC code) -> print("hello world!!")
back-end - various functions that generate the corresponding C code -> printf("hello world!!");

[2020-12-07 14:41] adxtop1 commented on #24
Hey i want to work on this one

[2020-12-07 14:47] frankhart2018 opened #354 "[FEATURE] Array indexing - left side (static array)"
Describe the solution you'd like
Indexing an array when in left hand side of expression. Changes to be made in expression function.

Syntax
<array_name>[index] = <expression>

Example
arr[0] = 1 + 2

[2020-12-07 15:17] frankhart2018 opened #355 "[FEATURE] Add boolean vales"
**Describe the solution you'd like**
Add the two boolean values true and false, and handle type inference for the same.

[2020-12-07 15:19] frankhart2018 opened #356 "[FEATURE] Add structure declaration"
**Describe the solution you'd like**
To add support only struct <structure-name> line has to be parsed as we use a selectively recursive recursive descent parser which does not require unnecessary recursion.

**Todo**
1) Identify struct as a keyword
2) Parse the line - struct <structure-name>
3) Compile the line - struct <structure-name>

For reference look at implementation of loops and function

[2020-12-07 15:21] frankhart2018 opened #357 "[FEATURE] Instantiating structure in the definition"
**Describe the solution you'd like**
Add structure instantiation to simC.

**Example**
struct hello {
    var a
    var b
} <struct_var>

**Todo**

1) Make changes in parsing of } to take the variable into account too, creating a separate opcode might be helpful.
2) Compile the } accordingly.

[2020-12-07 15:23] frankhart2018 opened #358 "[FEATURE] Structure instantiation for a local scope"
**Is your feature request related to a problem? Please describe.**
Instantiating structure in simC.

**Example**
Assuming structure hello already defined:-

hello h

**Todo**

1) Make changes in variable declaration in parser to take this into account, creating a new opcode might be helpful.
2) Compile the code according to this newly created opcode.

[2020-12-07 15:24] shobhit10058 commented on #32
But what can be AND,or, xor of two numbers mean other than bitwise operators

[2020-12-07 15:25] frankhart2018 opened #359 "[FEATURE] Assignment of structure members"
**Describe the solution you'd like**
Assigning structure members using dot operator.

**Example**
Assuming hello struct defined and instantiated in a variable h:-

h.a_var = 1

**Todo**

1) Identify the dot operator
2) Make changes in variable assignment in parser, adding a new opcode will help.
3) Compile C code according to the newly generated opcode.

[2020-12-07 15:26] shobhit10058 commented on #32
we can use the original also, just we need to change the ^ to work as xor. power function can be given some other name then

[2020-12-07 15:28] frankhart2018 commented on #32
Yeah I guess we can give ** to power like python. Using AND, OR, XOR might mean the regular AND, OR and XOR. As in True AND False = True, like in python.

[2020-12-07 15:29] frankhart2018 commented on #24
Sure, assigning this to you @adxtop1. Thanks for showing interest to contribute.

[2020-12-07 15:30] shobhit10058 commented on #32
yes

[2020-12-07 15:33] shobhit10058 commented on #32
ok then I can try working with this

[2020-12-07 16:15] Saptashrungi commented on #149
I went through the code base, where mapping is done for variables in expression after `(`, to avoid the bug above we need to add one more `check if` to ensure, the mapping and replacement from `a_var` to `%d` occurs only if it is between {}.

[2020-12-07 16:18] Math-O5 commented on #345
@dhairyaj Is it not a duplicate of #344 ? If not, what are the difference?

[2020-12-07 16:36] Math-O5 opened #361 "[BUG REPORT] Throwing simc overflow error to user"
**Describe the bug**
When user type incomplete programs, the "check_if[i + 1]" will always overflow.

The sintax is wrong, but the program should treat this properly.

**To Reproduce**
Complie this simc code:

test.simc:

[code]

[code]

[code]

[code]

**Expected behavior**
A kind message error for user

**Desktop (please complete the following information):**
 - OS: Fedora 30, Ubuntu 18

[2020-12-07 16:45] basilisk-2001 commented on #345
@frankhart2018 @dhairyaj  I have created a pull request in my branch ...u can check it from fork ...can u plz confirm whether this is fine or not ?

[2020-12-07 16:46] basilisk-2001 commented on #344
@frankhart2018 @dhairyaj  I have created a pull request in my branch ...u can check it from fork ...can u plz confirm whether this is fine or not ?

[2020-12-07 17:09] frankhart2018 commented on #32
Sure assigning this to you @shobhit10058.

[2020-12-07 17:22] frankhart2018 commented on #149
@Saptashrungi ```check_if``` is used to check if types are similar or not, the issue is in how the replacement is made, it is done using python's inbuilt replace function which replaces all occurrences of the substring in the string with the format specifier, using an index based approach to replace might be helpful here I believe.

[2020-12-07 17:23] frankhart2018 commented on #345
I added some comments in your PR @basilisk-2001.

[2020-12-07 17:30] frankhart2018 commented on #361
Yeah currently it just expects something to be there, there should be an index out of range check too in check_if.

[2020-12-07 17:31] Saptashrungi commented on #149
Yes I went through the `expression` function, where in a for loop we are replacing based on `op_type` I guess, so we are parsing through the string, we will replace only if curly braces are encountered, we can use index approach.

[2020-12-07 17:32] frankhart2018 commented on #149
Yeah :)

[2020-12-07 17:36] frankhart2018 commented on #361
Passing the index as argument and processing check_if only if the index is in range will fix this.

[2020-12-07 20:44] Math-O5 commented on #344
Hi @basilisk-2001, I suggest you first follow the tutorial I send above, it will help understand what is simc like. After that, it's needed read README.md to understand how simc works inside, then when start I recommend go to issues with tag "easy" first. This process no takes more than half day.

[2020-12-07 20:51] Math-O5 commented on #344
@dhairyaj I've decided do it already since next questions depends on this, I think so.

[2020-12-07 23:56] Math-O5 commented on #345
@dhairyaj I think you should put the code in C to facilitate the understand.

[2020-12-08 00:04] Math-O5 commented on #345
@dhairyaj I will let it with @4shw4n1  and @basilisk-2001. but, anyway, what is the code C expected to be generated?

[2020-12-08 04:24] shobhit10058 commented on #32
have you seen my commit?

[2020-12-08 07:45] Saptashrungi commented on #149
I am facing a problem in debugging, even after commenting out or change a significant part of code in simc_parser.py , I get same opcode.

[2020-12-08 07:49] frankhart2018 commented on #149
Can you join https://join.slack.com/t/sim-cnewdevs/shared_invite/zt-jgfthwau-V0INVtZQAaZ4RERZbE2lGg?

[2020-12-08 07:50] frankhart2018 commented on #344
Sure go ahead.

[2020-12-08 07:52] Saptashrungi commented on #149
Yes

[2020-12-08 07:58] frankhart2018 commented on #345
Check this @Math-O5 https://stackoverflow.com/questions/8886375/possible-to-initialize-an-array-after-the-declaration-in-c. I guess if assignment is done after declaration it has to be a pointer.

[2020-12-08 12:44] frankhart2018 commented on #32
Merged.

[2020-12-08 12:44] #32 closed

[2020-12-08 13:10] prit108 commented on #355
I would like to work on this @frankhart2018 .

[2020-12-08 13:12] frankhart2018 commented on #355
Sure assigning this to you @prit108.

[2020-12-08 19:08] #344 closed

[2020-12-09 11:08] jigyasudhingra commented on #361
I would like to work on this @frankhart2018.

[2020-12-09 14:56] Math-O5 commented on #361
@jigyasudhingra All yours. :)

[2020-12-09 16:30] Chasmiccoder opened #370 "[FEATURE] Add character input to simc"
So far, simc deals with strings properly, but it still does not have support for C characters.
Implementation of characters:
simc code -
var c = input( "Enter a character: ", "c" )
print( c )

Corresponding C code -
char c;
printf( "Enter a character: " );
scanf( " %c", &c );
printf( "%c", c );

Note how there is a space in the scanf( ) statement in the C code. This is because if the previous line

[2020-12-09 18:19] frankhart2018 opened #372 "[FEATURE] Write simC code for question 104"
**Question**

Write a program to print numbers from 1 to 25

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q104.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her task."

[2020-12-09 18:19] frankhart2018 opened #373 "[FEATURE] Write simC code for question 105"
**Question**

Write a program to calculate the sum of first 25 natural numbers.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q105.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person does not complete his/her tas

[2020-12-09 18:19] frankhart2018 opened #374 "[FEATURE] Write simC code for question 106"
**Question**

Write a program that takes a static positive integer. It should then print the multiplication table of that number.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q106.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reas

[2020-12-09 18:20] frankhart2018 opened #375 "[FEATURE] Write simC code for question 107"
**Question**

Two numbers are taken. Write a program to find the value of one number raised to the power of another.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q107.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the

[2020-12-09 18:20] frankhart2018 opened #376 "[FEATURE] Write simC code for question 108"
**Question**

Write a program that takes a set of 10 integers, and then prints the sum of the even and odd integers.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q108.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the

[2020-12-09 18:20] frankhart2018 opened #377 "[FEATURE] Write simC code for question 109"
**Question**

Write a program to display the n terms of square natural number and their sum. 1 4 9 16 ... n Terms

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q109.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the pe

[2020-12-09 18:20] frankhart2018 opened #378 "[FEATURE] Write simC code for question 110"
**Question**

Write a program to find the number and sum of all integer between 100 and 200 which are divisible by 9.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q110.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if th

[2020-12-09 18:20] frankhart2018 opened #379 "[FEATURE] Write simC code for question 112"
**Question**

Find the area of a circumcircle which passes through all the vertices of a square of side 9 units.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q112.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the per

[2020-12-09 18:21] frankhart2018 opened #380 "[FEATURE] Write simC code for question 113"
**Question**

Find the volume of a cylinder with height 21cm and radius 6cm. Express the result in metres.

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q113.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can only be reassigned if the person do

[2020-12-09 18:21] frankhart2018 opened #381 "[FEATURE] Write simC code for question 114"
**Question**

If a metal cube of side 3m is melted to make small balls, find the number of balls formed if each ball has a radius of 1.5cm

**Where to put the code?**

In simc-codes directory

**What to name the file?**

q114.simc

**Note**: You can only start doing a question if it has been assigned to you by a maintainer. Once assigned to someone this questions will not be reassigned, it can onl

[2020-12-09 19:04] Math-O5 opened #382 "[FEATURE] Insert parser files into folder named parser"
**Is your feature request related to a problem? Please describe.**
simc_parser.py was spliced in several small pieces. Now they need go into one folder that identify they easily.

**Describe the solution you'd like**
Pass parses codes in parser folder.

[2020-12-09 19:26] #382 closed

[2020-12-09 20:37] Math-O5 commented on #33
@Gaurav7888 They are asking for something like:

Example of Sim-C allocate memory:

[code]

It's like SimC will interpreter the command, not the code generated.

[2020-12-09 20:42] Math-O5 commented on #33
@frankhart2018 Sim-C should predict the type of the variable? If so, it's change a lot of expected code.

A example.

SimC code:
[code]

[2020-12-09 22:05] aashishat718 commented on #372
@frankhart2018 I would like to work on this

[2020-12-09 22:08] aashishat718 commented on #373
@frankhart2018 I would like to work on this code

[2020-12-09 22:37] Math-O5 commented on #372
@aashishat718 All yours!

[2020-12-09 22:38] Math-O5 commented on #373
Assigned to you @aashishat718 .

[2020-12-10 09:27] agnibhasinha commented on #377
I want to work on this

[2020-12-10 10:49] frankhart2018 commented on #377
Sure assigning this to you @agnibhasinha.

[2020-12-10 14:08] #373 closed

[2020-12-10 14:08] #372 closed

[2020-12-10 15:53] aashishat718 commented on #375
@frankhart2018 I will like to work on this code

[2020-12-10 16:39] hyp3r5pace commented on #381
I want to work on this issue. Can you assign me this issue?

[2020-12-10 16:42] frankhart2018 commented on #183
Merged.

[2020-12-10 16:42] #183 closed

[2020-12-10 16:42] prit108 commented on #380
I can do this @frankhart2018 .

[2020-12-10 16:52] frankhart2018 commented on #380
Sure assigning this to you @prit108.

[2020-12-10 16:52] frankhart2018 commented on #381
Sure assigning this to you @hyp3r5pace.

[2020-12-10 17:06] Chasmiccoder commented on #379
Can I work on this?

[2020-12-10 17:06] Math-O5 commented on #375
@aashishat718 Done!

[2020-12-10 17:06] Math-O5 commented on #379
@Chasmiccoder Of course! (remenber name branch in-<number-of-issue>)

[2020-12-10 17:42] Chasmiccoder commented on #379
I have submitted the PR. (Also used the branch in-379)
Please check if that has been implemented properly.

[2020-12-10 17:42] shobhit10058 commented on #345
is this issue resolved? Other array issues depends on the array declaration issue which I want to try? So if this issue is available I can try from this issue.

[2020-12-10 17:50] Math-O5 commented on #345
@shobhit10058 No, the issue is open. But note, the array declaration already exist, it's now `var name[30]` and genetic `var <name>[<in>|<void>]`. The issue is about assign after created array: https://stackoverflow.com/questions/8886375/possible-to-initialize-an-array-after-the-declaration-in-c

[2020-12-10 17:54] frankhart2018 commented on #379
Merged.

[2020-12-10 17:54] #379 closed

[2020-12-10 17:56] frankhart2018 opened #391 "[FEATURE] Extend array declaration to handle multi-D arrays."
**Describe the solution you'd like**
Current array declaration implementation handles only 1-D arrays, but when multi-D arrays are created it generates very weird code. Extend the array declaration implementation to support multi-dimensional arrays.

[2020-12-10 18:05] Math-O5 commented on #149
@frankhart2018 @Saptashrungi This issue should be closed?

[2020-12-10 18:05] frankhart2018 commented on #149
Yeah this is merged.

[2020-12-10 18:09] Math-O5 commented on #345
@Shaheer-rossoneri14 Thanks for showing interest in contributing!

[2020-12-10 18:09] #149 closed

[2020-12-10 18:17] Saptashrungi commented on #149
Yes it's fixed.

[2020-12-10 18:27] shobhit10058 commented on #345
oh then its fine!!!

[2020-12-10 19:05] #377 closed

[2020-12-10 19:12] agnibhasinha commented on #378
I would like to work on this

[2020-12-10 19:19] frankhart2018 commented on #378
Sure, assigning this to you @agnibhasinha.

[2020-12-10 19:59] shobhit10058 commented on #27
Since no one was an assignee here, I was trying this. With some modifications, I got this output -
[code]
for
[code]
I just remove those errors so that this works out.
But I have not included checks for scenarios like this -
[code]
for which output is -
[code]
If this much is fine for now, then I can send a PR.

[2020-12-10 20:03] frankhart2018 commented on #27
Hey @shobhit10058 this issue is for all types of block statements and not only for if statements. This is what I added in #341 when @Math-O5 created the PR. So if you are presenting a solution it should be for all block statements that simC currently supports and not just if else.

[2020-12-10 20:10] charchit95 commented on #376
Please assign this issue to me.

[2020-12-10 20:12] shobhit10058 commented on #27
oh, ok got it!!

[2020-12-10 20:22] charchit95 commented on #374
I would like to work on this issue, please assign it to me.

[2020-12-10 21:19] frankhart2018 commented on #376
Sure @charchit95.

[2020-12-10 22:34] Math-O5 commented on #27
@shobhit10058 After you finish I can try check the case where there is more than one instruction before else without braces.

[2020-12-11 02:25] InfiniteVerma commented on #370
I'll like to work on this.

[2020-12-11 02:54] lolzone13 commented on #361
May I be assigned, I think I have fixed this.

[2020-12-11 03:55] Math-O5 commented on #370
@InfiniteVerma Already, thanks by the interest!

[2020-12-11 14:45] #376 closed

[2020-12-11 14:57] adxtop1 commented on #24
Hey, does simC have a concept of scope or it just does line by line translation?

var i = "asb"
MAIN
  var i = 10
  var j = 10
  var i= 10
  print(i)
END_MAIN

simC translation-

#include <stdio.h>
	int i = "asb";
int main() {
	int i = 10;
	int j = 10;
	int i = 10;
	printf("%d", i);
return 0;
}

[2020-12-11 15:06] Math-O5 commented on #391
@Dhruv-Rathi All yours. Just warning, one dimension array exist! check up #344

Declaration **`var <name_array>[<int | void>]`**

Example: **`var name[2] = {1, 2}`**

[2020-12-11 15:10] #374 closed

[2020-12-11 15:41] Dhruv-Rathi commented on #391
I am actually new to git-hub so can you please help me understand the issue.

[2020-12-11 16:20] Math-O5 commented on #391
@Dhruv-Rathi You already ready careful the README.md file? There some instruction there to follow first. Install simc, use it, try do some of question "Write simc code from the section issues". The issue properly is about add a feature to simc. The feature is let simc declare matrix, until now only arrays are allowed.

[2020-12-11 19:14] frankhart2018 commented on #24
@adxtop1 no there is no scope as of now

[2020-12-11 20:11] frankhart2018 opened #400 "[BUG REPORT] Function cannot be called multiple times"
**Describe the bug**
A function defined in simC can be called once currently, when calling it again it throws error.

[2020-12-12 12:37] 10Kaiser10 commented on #357
I would like to work on this issue. Can you please assign me?

[2020-12-12 12:37] 10Kaiser10 commented on #356
I would like to work on this issue, please assign me.

[2020-12-12 12:58] frankhart2018 commented on #356
Sure @10Kaiser10.

[2020-12-12 16:34] 10Kaiser10 opened #402 "[BUG REPORT] Fails to account for missing right braces"}" in nested blocks."
**Describe the bug**
Does not raise an error when there is an unequal number of right and left braces in nested blocks of code.

**To Reproduce**
SimC code:
[code]

C Code:
[code]

**Expected behavior**
Should raise an error

[2020-12-12 17:32] 10Kaiser10 commented on #357
Hi, please assign me to this issue.

[2020-12-12 18:13] frankhart2018 commented on #357
Sure @10Kaiser10.

[2020-12-13 03:57] shobhit10058 commented on #27
So, I think the following are the block statements you are looking to adding this support to -
1. if/else
2. for/while/do-while
3. functions
I don't think switch is used as a single statement anytime.

[2020-12-13 05:40] shobhit10058 commented on #27
I have done for
1. if/else
2. for/while/do-while
for functions I think there is some error due to which I cannot test it
[code]
gives  a error
![image](https://user-images.githubusercontent.com/56156171/102003977-357d5f00-3d32-11eb-97c4-3192dbba1a69.png)
for other statements -
[code]
the c code is -
[code]
for do-while statements now the user has to just write the body between the do and while it

[2020-12-13 05:54] shobhit10058 commented on #27
@Math-O5  can you review?

[2020-12-13 06:44] Chasmiccoder commented on #402
Can we conduct a check (to see if the braces are balanced) at the beginning of compilation using a stack?

[2020-12-13 06:52] Chasmiccoder commented on #402
Can I try this out?

[2020-12-13 06:52] sourav-suku commented on #402
In the "LexicalAnalyser.py" balancing check is done only for '(' and ')'

[2020-12-13 07:18] shobhit10058 commented on #27
ok, the function's code I mentioned earlier was not compiled because its parameter types and return type could not be judged as it was not used. This is working -
[code]
to
[code]
The function is not supported without braces in c also so I did not add for it now. But it can be extended feature.

[2020-12-13 07:36] Chasmiccoder commented on #402
Okay @sourav-suku
So we just need to account for { } , right?

[2020-12-13 08:08] sourav-suku commented on #402
@Chasmiccoder
Ya.I guess so.
We should even account for [ ] as its case is similar to { }.

[2020-12-13 16:11] Math-O5 commented on #402
@Chasmiccoder Assigned to you.

[2020-12-14 06:49] sourav-suku commented on #358
Hi @frankhart2018 .Please assign this to me

[2020-12-14 20:30] Math-O5 opened #408 "[FEATURE] Add if cascade"
**Is your feature request related to a problem? Please describe.**
Extension of #27, the goal is implement if cascade statement when the command use no braces, as follows:

**Should be allowed**

Sim-C:
[code]

Plus, you should ensure the when `if (expresion)` is called without braces and followed of `else`, only one instruction is between both.

**Should NOT be allowed**
[code]

[code]

[2020-12-15 06:49] yashshah14093 commented on #370
@Math-O5 @frankhart2018 Can I make a pull request for this issue? I have solved this issue and checked by running an example mentioned in this issue. So Could you assign this issue to me, please?

[2020-12-15 06:53] frankhart2018 commented on #370
Sure assigning this to you too @yashshah14093.

[2020-12-15 11:38] frankhart2018 commented on #370
Merged.

[2020-12-15 11:39] #370 closed

[2020-12-15 12:45] #402 closed

[2020-12-16 01:20] Math-O5 opened #415 "[BUG REPORT] Commands outside main not throwing error"
**Describe the bug**
Command out of scope, like "print, for, while" not throw error when declared outside a function or MAIN.

**To Reproduce**

Case 1:
[code]
Case 2:
[code]
Case 3:
[code]

Case 4:
[code]

Case 5:
[code]

Case 6:
[code]

**Expected behavior**
Throw error when code is not used correctly. Expected this code only work when declared inside a scope of a function like "fun", "MAIN", ex

[2020-12-16 01:28] Math-O5 opened #416 "[BUG REPORT] Functions inside functions"
**Describe the bug**
Sim-C is wrongly allowing declarations of function inside function, but C does not accept it.

**To Reproduce**

Sim-C code:
[code]

Output: C code!

**Expected behavior**
Throw a message error to user.

Please, follow the CONTRIBUTION.md instructions.

[2020-12-16 10:05] Chasmiccoder opened #417 "[BUG REPORT] Incorrect Usage of Check Braces Flag"
**Describe the bug**
The function of lines 74,75 is unclear, as the lines are ambiguous.
Basically, we check if variable found_right_brace is True. And then we are assigning the same variable a Truth value.

**To Reproduce**
Go to conditional_parser.py
Go to line 74,75.

**Screenshots**
![image](https://user-images.githubusercontent.com/62545147/102334044-3e7d6300-3fb4-11eb-91ea-4d845f2e156f.png)

[2020-12-16 14:40] Math-O5 commented on #417
@Chasmiccoder I think this is not used, you wanna do the PR?

[2020-12-16 19:53] agnibhasinha commented on #378
isnt this issue closed?

[2020-12-16 19:54] frankhart2018 commented on #378
Yeah it is, forgot to close it 😅. Thanks for pointing out @agnibhasinha.

[2020-12-16 19:54] #378 closed

[2020-12-17 04:24] Chasmiccoder commented on #417
Yea sure! @Math-O5
So I just need to remove those two lines, right?

[2020-12-17 15:08] #417 closed

[2020-12-17 15:15] jigyasudhingra opened #420 "[BUG REPORT] Switch Case Is Not Working"
**Describe the bug**
Switch case is not working.

**To Reproduce**
Steps to reproduce the behavior:

Try to compile this:
[code]
And, it will throw an error
[code]
But, if I try to compile as:
[code]
Then, it will compiled successfully.

**Expected behavior**
Consider newline while compiling.

[2020-12-17 20:43] frankhart2018 commented on #416
Merged #421.

[2020-12-17 20:43] #416 closed

[2020-12-18 04:35] aashishat718 commented on #375
@frankhart2018 Sir, this issue is solved and PR is already merged. Please close this issue.

[2020-12-18 12:07] Chasmiccoder commented on #408
Hi there! @Math-O5
Can I work on this?
I have understood the issue, but I am still uncertain how to go about doing this, so I might need some help.

[2020-12-18 12:28] frankhart2018 commented on #375
Thanks for pointing out @aashishat718.

[2020-12-18 12:28] #375 closed

[2020-12-18 12:30] #420 closed

[2020-12-18 12:32] frankhart2018 commented on #408
Sure assigning this to you @Chasmiccoder.

[2020-12-20 04:33] Chasmiccoder commented on #408
Hi guys.
I went through the tokens that correspond to this part of the simc code:
![image](https://user-images.githubusercontent.com/62545147/102705120-ccee2f00-42a9-11eb-8c19-322edc64e8b8.png)

The tokens look like this:
![image](https://user-images.githubusercontent.com/62545147/102705137-10489d80-42aa-11eb-8467-9e52390e3f05.png)

So, to implement the if cascade feature, can I do this:
if tokens

[2020-12-20 13:47] #380 closed

[2020-12-20 14:17] #355 closed

[2020-12-26 20:05] shobhit10058 opened #427 "[BUG REPORT] array declaration gives error"
**Describe the bug**
When a array is declared a unusual error is shown.
![image](https://user-images.githubusercontent.com/56156171/103158421-a8331380-47e3-11eb-99a0-1fe74d692c5f.png)

**To Reproduce**
just run the following code -
[code]

**Expected behavior**
No such error should come

[2020-12-26 20:06] frankhart2018 commented on #427
@Math-O5 can you take a look at this.

[2020-12-26 20:06] shobhit10058 commented on #427
I have fixed this it was just that balanced_brackets_stack and top were used in lexical analyser. They should be used with self

[2020-12-26 20:06] frankhart2018 commented on #427
Oh ok then you can make a PR :)

[2020-12-27 08:04] nayaldivya commented on #415
Hello, I would like to work on this issue. Can you assign this to me?

[2020-12-27 11:11] frankhart2018 commented on #415
Sure assigning this to you @nayaldivya.

[2020-12-27 13:11] frankhart2018 commented on #427
Merged.

[2020-12-27 13:11] #427 closed

[2020-12-27 13:12] frankhart2018 commented on #27
Merged.

[2020-12-27 13:12] #27 closed

[2020-12-28 04:09] Chasmiccoder commented on #408
Hi @Math-O5. I got on a call with @frankhart2018
I think we need to solve #24
before we solve this issue.
If not, please tell me how to go about doing it.
Thanks

[2020-12-28 04:41] Chasmiccoder commented on #400
Hi there! @frankhart2018
For some reason calling the function twice is already working for me.
Simc Code:
fun sum ( a, b ) {
    return a + b
}

MAIN
    var A = input( "Enter an integer: ", "i" )
    var B = input( "Enter another integer: ", "i" )

    //C = sum ( A, B )
    var C = sum( A,B )
    print( "SUM: " )
    print( C )
    print( "\n" )

    var D = sum( C,B )

    print( "SUM2: " )

[2020-12-28 06:48] frankhart2018 commented on #400
Yeah now it is working for me too, weird 😄. Closing this then.

[2020-12-28 06:48] #400 closed

[2020-12-28 14:25] sakshikhachane commented on #31
@frankhart2018 I would like to work on this issue.

[2020-12-28 14:45] frankhart2018 commented on #31
Sure @sakshikhachane. Assigning this to you. Do let me know the implementation details before you start working :)

[2020-12-28 16:41] ami-harry commented on #361
your list is empty and you are trying to compare its index type, but your list is empty so that it is giving the output like that.

[2020-12-28 16:42] frankhart2018 commented on #361
Do you want to work in this @ami-harry

[2020-12-28 16:45] ami-harry commented on #31
@frankhart2018 I would like to work on this issue

[2020-12-28 16:45] sohitdon commented on #31
Can i contribute on this please @frankhart2018

[2020-12-28 16:47] frankhart2018 commented on #31
Sure assigning this to both of you too @ami-harry @sohitdon. Let me know the implementation details before starting.

[2020-12-28 16:55] Deep2631 commented on #29
sir i want to work with this project

[2020-12-28 16:56] frankhart2018 commented on #29
Sure @Deep2631 assigning this to you. Let me know the implementation details before starting.

[2020-12-28 16:57] ami-harry commented on #361
@frankhart2018  yes. I want to work

[2020-12-28 16:57] frankhart2018 commented on #361
Sure assigning this to you too @ami-harry.

[2020-12-28 16:57] Deep2631 commented on #31
sir i want to work with this project

[2020-12-28 16:59] Deep2631 commented on #31
this pi math

[2020-12-28 16:59] aum-singhal commented on #357
Sir I will be very much interested to contribute on this project but can you help that what outcome are you expecting when someone write that code?

[2020-12-28 16:59] ArjitSahu commented on #31
Sir I want also to work on this issue

[2020-12-28 17:01] Deep2631 commented on #31
Is your feature request related to a problem? Please describe.
Implement typeof operator in simC.

Describe the solution you'd like
Simply return the type of variable from symbol table. When typeof is called on a variable.

simC Code

MAIN
    var i = 3.14159
    typeof(i)
END_MAIN

typeof 3.14 === 'number';

[2020-12-28 17:01] frankhart2018 commented on #31
Sure asigning this to you too @ArjitSahu. Post implementation details before starting.

@Deep2631 do you want to work in this too.

[2020-12-28 17:02] Deep2631 commented on #31
yes sir

[2020-12-28 17:02] ami-harry commented on #31
@frankhart2018
typeof is an inbuilt function that tales about the type of the variable value.
the type of the variable depends upon the value it is containing and to check the type of variable we use typeof(var_name)
this method returns type of variable

[2020-12-28 17:02] frankhart2018 commented on #31
Sure assigning this to you too. Please post the full implementation detail @Deep2631.

[2020-12-28 17:03] frankhart2018 commented on #31
Won't be accepting any more people in this issue, will stop at 5.

[2020-12-28 17:04] frankhart2018 commented on #31
@ami-harry by implementation detail I meant how you would implement this in simC code base. What would the lexical analysis, parsing and compilation work.

[2020-12-28 17:06] aum-singhal commented on #358
Sir I am very much interested to contribute on this project but just wanted to confirm that by the structure, you mean the linked lists structure or you anything else

[2020-12-28 17:07] ami-harry commented on #31
sorry, I didn't get you
please elaborate what exactly I have to do?

[2020-12-28 17:10] frankhart2018 commented on #31
@ami-harry I would suggest you to check implementation of some functionality, like print statement. This would make things clearer. Otherwise it would be tough for me to explain 😃

[2020-12-28 17:11] sohitdon commented on #31
i am not able to understand exactly what is this sim-c but in javascript typeof operator returns the type of variable like var i = 3.14159
    console.log(typeof(i))

this will return numbers

[2020-12-28 17:11] ami-harry commented on #31
MAIN
    var i = 3.14159
    typeof(i)
END_MAIN

//we will do like this

var i = 3.14159
console.log(typeof(i))

//save and run this file
//it will give a number because i is containing a number

[2020-12-28 17:12] frankhart2018 commented on #358
Yeah structures in C. This issue is for implementation of structure instantiation. Implementation of structure declaration is done, you can take a look at that to get a better idea. Would you like to work on this?

[2020-12-28 17:14] ArjitSahu commented on #31
var i = 3.14159
console.log(typeof(i))
Answer==number

[2020-12-28 17:15] Deep2631 commented on #31
The PI property returns the ratio of a circle's area to the square of its radius, approximately 3.14
type of number

[2020-12-28 17:23] aum-singhal commented on #29
Sir I also want to contribute on this project If you allow

[2020-12-28 17:24] frankhart2018 commented on #29
Sure @aum-singhal assigning this to you too.

[2020-12-28 17:40] aum-singhal commented on #358
yeah sure

[2020-12-28 17:41] frankhart2018 commented on #358
Assigning this to you @aum-singhal.

[2020-12-28 18:19] frankhart2018 commented on #31
Discussion for this issue - https://github.com/cimplec/sim-c/discussions/430

[2020-12-28 20:14] Math-O5 commented on #408
@Chasmiccoder You are right, I will work on #24 first, then

[2020-12-29 13:26] frankhart2018 opened #431 "[FEATURE] Generalize prec_to_type and type_to_prec dictionary"
**Describe the solution you'd like**
Two dictionaries called prec_to_type and type_to_prec have been created multiple times in the parser, these map an integer precedence to typename and typename to precedence integer respectively. If there is requirement of adding a new typename with precedence in between these values then one will have to change all these dictionaries. It would thus be better to

[2020-12-29 19:22] frankhart2018 opened #432 "[BUG REPORT] Error when function calls and constants are passed in array initializer list"
**Describe the bug**
When an array initializer list has both function call and constant value of the same type as the return type of function the function throws an error - "Too many unique types in initializers"

**sim-C Code**
[code]

**Error Message**
[Line 5] Error: Too many unique types in initializers

[2020-12-29 19:27] frankhart2018 opened #433 "[FEATURE] Redundant code in array_initializer (array_parser.py)"
**Describe the solution you'd like**
The array initializer list parsing can be done using expression function but has been implemented again which is redundant. Update array_initializer in array_parser.py to use expression() from sim_parser.py to parse expression instead of repeating the same logic.

[2020-12-29 19:34] frankhart2018 opened #435 "[FEATURE] Break var_statement function into further sub functions"
**Describe the solution you'd like**
The current implementation of var_statement function which is responsible for parsing variable and array declaration with or without assignment is too long and can be broken into further parts - variable, pointers, arrays.

[2020-12-30 14:45] frankhart2018 opened #437 "[BUG REPORT] Incorrect error message when function is not defined"
**Describe the bug**
When a function is not defined but is called the error message should be like:- "Function <func-name> is not defined", but it throws an error regarding the mismatch of number of formal and actual params.

**sim-C Code**
[code]

**Error Message**

[Line 2] Error: Expected not more than 0 arguments but got 2 in function sum

[2020-12-30 14:51] frankhart2018 commented on #356
Merged.

[2020-12-30 14:51] #356 closed

[2020-12-30 14:51] frankhart2018 commented on #357
Merged.

[2020-12-30 14:51] #357 closed

[2020-12-30 16:43] ami-harry commented on #346
I want to contribute to this issue

[2020-12-30 17:18] frankhart2018 commented on #346
Sure @ami-harry assigning this to you.

[2021-01-01 03:46] victorjzsun commented on #33
What do we need dynamic memory allocation for other than variable length arrays?

[2021-01-01 06:48] pawankm21 commented on #432
@frankhart2018 , I would like to work on this issue

[2021-01-01 07:53] frankhart2018 commented on #432
Sure assigning this to you @pawankm21.

[2021-01-01 07:54] frankhart2018 commented on #33
Can you start a discussion for this @victorjzsun.

[2021-01-01 08:18] nishihere19 commented on #437
Which file has to be corrected?

[2021-01-01 10:18] Chasmiccoder commented on #408
Thank you! @Math-O5

[2021-01-01 10:20] Chasmiccoder commented on #433
Hi there!
Can I work on this?

[2021-01-01 12:19] frankhart2018 commented on #437
You need to look into parser/simc_parser.py and parser/function_parser.py. Would you like to work on this?

[2021-01-01 12:20] frankhart2018 commented on #433
Sure @Chasmiccoder. Assigning this to you.

[2021-01-01 15:20] nishihere19 commented on #437
Yeah. I would like to do it.

[2021-01-01 15:20] frankhart2018 commented on #437
Assigning this to you then @nishihere19.

[2021-01-01 20:10] victorjzsun commented on #33
Created a discussion [here](https://github.com/cimplec/sim-c/discussions/442)

[2021-01-05 11:16] ayushi-get commented on #346
i would like to contribute to this issue .

[2021-01-06 08:11] ayush-mishra-git commented on #381
Hello, Can I please work on this issue for SWoC 2021 ?

[2021-01-06 08:14] frankhart2018 commented on #346
Sure @ayushi-get. Assigning this to you.

[2021-01-06 08:14] frankhart2018 commented on #381
Sure @ayush-mishra-git assigning this to you.

[2021-01-06 14:29] Math-O5 commented on #433
@Chasmiccoder I don't know if it is important, `i_temp` we use name `idx` on others files.

[2021-01-06 19:23] Erzmafia commented on #435
I would like to work on this issue .

[2021-01-06 19:28] frankhart2018 commented on #435
Sure assigning this to you @Erzmafia.

[2021-01-06 19:29] Erzmafia commented on #381
This is a simple Maths problem and I'm a non-med student so, .......it will be easy for me .
I'd like to work on this issue. can you please assign it to me.

[2021-01-06 19:31] frankhart2018 commented on #381
Sure assigning this to you too @Erzmafia.

[2021-01-06 19:31] frankhart2018 commented on #381
This issue won't be assigned to anymore people.

[2021-01-06 19:39] frankhart2018 opened #447 "[BUG REPORT] stdio.h gets included for array/pointer declaration + assignment"
**Describe the bug**
When compiling a code containing only a single line of array declaration + assignment, the resulting C code has stdio.h included which should not be the case. The same issue arises in pointer declaration + assignment. Handle both these cases to not include stdio.h.

**simC Code**
[code]

**C Code**
[code]

**Expected C Code**
[code]

[2021-01-06 19:51] frankhart2018 opened #448 "[BUG REPORT] Incorrect compilation of ptr_only_assign opcode"
**Describe the bug**
The opcode ptr_only_assign gets compiled as *<id> = =, when it should get compiled as *<id> = <expr>

**simC Code**
[code]

**C Code**

[code]

[2021-01-06 20:21] frankhart2018 commented on #433
Merged.

[2021-01-06 20:21] #433 closed

[2021-01-07 10:58] sayandip18 opened #451 "[BUG REPORT] Cloned repo gets deleted on running tests"
**Describe the bug**
I just faced something very strange. I cloned the test-suite and ran `simc-test`. On running the test, the cloned sim-c repository on my system got deleted all of a sudden.

**To Reproduce**
Steps to reproduce the behavior:

1. Clone the sim-c repo
2. Install the test-suite.
3. Run `simc-test`
4. You'll see that both the sim-c repository and the test-suite repository are no lo

[2021-01-07 10:59] frankhart2018 commented on #451
Can you create this issue in https://github.com/cimplec/test-suite. Would be more relevant there. Closing this one.

[2021-01-07 10:59] #451 closed

[2021-01-07 11:47] #345 closed

[2021-01-07 18:06] Erzmafia commented on #381
@frankhart2018 i have completed this issue and it is in my local directory . Actually I'm a beginner so can you guide me how to push that code in repo

[2021-01-07 18:12] frankhart2018 commented on #381
Hey @Erzmafia, please go through this great tutorial by datacamp:- https://www.datacamp.com/community/tutorials/git-push-pull.

[2021-01-07 18:12] frankhart2018 commented on #381
Hey @Erzmafia, please go through this great tutorial by datacamp:- https://www.datacamp.com/community/tutorials/git-push-pull.

[2021-01-07 18:19] Erzmafia commented on #381
So i have to push or create a PR ? silly question but bata do

[2021-01-07 18:31] frankhart2018 commented on #381
@Erzmafia only a core dev can push directly to this repository. You will have to make a PR.

[2021-01-07 18:53] Erzmafia commented on #381
Thankyou @frankhart2018  for helping me :) i have created a pull request

[2021-01-08 01:23] Math-O5 commented on #346
@frankhart2018 I think this was closed by mistake!

[2021-01-08 01:43] Math-O5 opened #458 "[BUG REPORT]"
**Describe the bug**
This would be extension of #346, #354 and #344

**To Reproduce**
We can not differentiate variables from array, so the code where we sum two variables can be in fact two arrays!

Sim-C:
[code]

**Expected behavior**
We should add another metadata for array, and add a case on expression to know if we are indexing the array 'b[x]' or using it raw!

**Desktop (please complete the

[2021-01-08 14:12] frankhart2018 commented on #346
Merged.

[2021-01-08 14:12] #346 closed

[2021-01-09 17:14] #354 closed

[2021-01-09 18:14] #358 closed

[2021-01-09 18:41] Erzmafia opened #463 "[BUG REPORT] power not working when used inside parenthesis ."
[code]

[2021-01-09 19:01] frankhart2018 commented on #381
Merged.

[2021-01-09 19:01] #381 closed

[2021-01-10 14:29] #30 closed

[2021-01-11 13:50] #29 closed

[2021-01-11 14:12] #31 closed

[2021-01-12 08:54] Chasmiccoder commented on #448
How do I reproduce this bug?

I did some testing on pointers -
MAIN
    print( "Hello World\n" )
    var a = 13
    var *ptr = &a

    print( "Var 'a' is: \n" )
    print( a )
    print( "\n" )

    print( "Pointer to 'a' is: \n" )
    print( ptr )
    print( "\n" )

    print( "Value of pointer to 'a' is: \n" )
    print( *ptr )
    print( "\n" )

END_MAIN

This simc code gives us the following c

[2021-01-12 09:00] Chasmiccoder commented on #448
How do I reproduce this bug?

The simc code:
MAIN
    print( "Hello World\n" )
    var a = 13
    var *ptr = &a

    print( "Var 'a' is: \n" )
    print( a )
    print( "\n" )

    print( "Pointer to 'a' is: \n" )
    print( ptr )
    print( "\n" )

    print( "Value of pointer to 'a' is: \n" )
    print( *ptr )
    print( "\n" )

END_MAIN

We get this C code:
#include <stdio.h>

int main() {

[2021-01-12 09:11] Chasmiccoder commented on #448
Actually, on a side note, Sim-C is dynamically typed, so this should apply to pointers as well, right?

For this simc code:
MAIN

    print( "Hello World\n" )
    var a = 13
    var *ptr = &a

    print( "Value of pointer to 'a' is: \n" )
    print( *ptr )
    print( "\n" )

    var b = 3.14

    ptr = &b

    print( "Pointer to 'b' is: \n" )
    print( ptr )
    print( "\n" )

    print( "Value o

[2021-01-12 09:22] Chasmiccoder opened #469 "[BUG REPORT] Array initializer must detect too many commas"
**Describe the bug**
Array initializer should detect too many commas

**To Reproduce**
Simc Code:
var arr[] = {2,3,,,}

Should throw an error. Instead, we get the following C code:
int arr[] = {2,3,,,};

[2021-01-13 14:23] Chasmiccoder opened #472 "[BUG REPORT] Pointer of pointer not working"
Pointer to a pointer implementation is incorrect:
MAIN
	var a = 15
	var *ptr = &a
	var **ptr2 = &ptr

END_MAIN

The above simc code should be valid, but it is throwing the following error:
![image](https://user-images.githubusercontent.com/62545147/104464366-d92f8880-55d8-11eb-8fa9-e8149c4a7cf9.png)

Note: This must be fixed for pointer to pointer, pointer to pointer to pointer, and so on as well.

[2021-01-14 09:13] #448 closed

[2021-01-16 18:00] #415 closed

[2021-01-17 12:58] vishnupsingh523 commented on #472
Sir can you please tell me how it actually works ??
means this whole smic project in any pc

[2021-01-17 13:48] frankhart2018 commented on #472
@vishnupsingh523 are you in #sim-c channel in SWoC workspace? If not, then please join this slack workspace and then ping me:- https://join.slack.com/t/sim-cnewdevs/shared_invite/zt-ky44bntx-WHiw41q1nam4AmktMggsCg

[2021-01-21 20:40] Math-O5 opened #477 "[BUG] Predict type in print"
**Describe the bug**
When print is used inside a function, the type is not defined yet, so it will throw a error.

**Steps to Reproduce**
in Sim-C:

[code]

[code]
**Expected behavior**
Process the prediction type in compiler time, because only then the variable will be defined. If not defined yet, then throw an error.

[2021-01-22 12:23] #25 closed

[2021-01-22 13:31] frankhart2018 opened #478 "[FEATURE] Pretty print symbol table"
**Describe the feature and the solution**
Currently if we print the symbol table it prints the dictionary, it would be easier if it was displayed as proper table format. This functionality can be added by adding a __str__ magic method to symbol table class.

[2021-01-23 20:34] #359 closed

[2021-01-24 05:59] Chasmiccoder commented on #478
Hi there!
Can I work on this feature?

[2021-01-24 08:43] frankhart2018 commented on #478
Sure @Chasmiccoder.

[2021-01-26 14:25] #478 closed

[2021-01-26 14:41] frankhart2018 opened #481 "[BUG] Function redefinition does not throw error"
**Describe the bug**
When a function is redefined, then instead of throwing error, it compiles successfully. But the type of parameters of first remains not_known, while the redefinition gets the dtype for params.

**Steps to Reproduce**
Consider the following simC code:-

[code]

This is the C code generated:-

[code]

**Expected behavior**

It should throw an error:-

[code]

[2021-01-26 14:48] frankhart2018 opened #482 "[BUG] Return type and dtype of parameters in a function is incorrect"
**Describe the bug**
In the current implementation if a function is called with parameters of different types then the compiled C version of the function has the type from the final call, but the return type is set from the very first call. There can be two resolutions to this problem:-

1. Throw an error when types change
2. Name mangling (Follow this <a href="https://www.ibm.com/support/knowledg

[2021-02-04 18:15] Chasmiccoder commented on #447
Can I work on this? @frankhart2018

[2021-02-04 18:45] frankhart2018 commented on #447
Sure assigning this to you @Chasmiccoder.

[2021-02-14 19:59] #24 closed

[2021-02-14 20:17] #437 closed

[2021-02-17 20:49] #477 closed

[2021-02-17 20:49] frankhart2018 commented on #477
Also fixed a minor bug in var_statement parser, see #487 for details.